<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CM HCP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/triage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/triage_hcp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body class="bg-light bg-gradient">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm bg-white navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button type="button" class="btn btn-lg btn-outline-dark tooltip-btn m-2"
                        data-tooltip="Strona główna"
                        onclick="location.href='@Url.Action("Index", "Home")'">
                    <i class="bi bi-hospital"></i> CM HCP SOR
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="btn btn-lg btn-outline-success tooltip-btn m-2"
                                   data-tooltip="Aktualna lista pacjentów w SOR"
                                   href="@Url.Action("MainList", "ListsOfPatients")">
                                    <i class="bi bi-person-lines-fill"></i> LISTA PACJENTÓW
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-lg btn-outline-danger tooltip-btn m-2"
                                   data-tooltip="Dodaj nowego pacjenta"
                                   href="@Url.Action("AddNewPatient", "Triage")">
                                    <i class="bi bi-heart-pulse"></i> TRIAGE
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-lg btn-outline-primary tooltip-btn m-2"
                                   data-tooltip="Archiwum pacjentów z ostatnich 7 dni"
                                   href="@Url.Action("PatientArchive", "ListsOfPatients")">
                                    <i class="bi bi-clock-history"></i> ARCHIWUM
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-lg btn-outline-info tooltip-btn m-2"
                                   data-tooltip="Satystyki ruchu chorych"
                                   href="@Url.Action("Statistics", "ListsOfPatients")">
                                    <i class="bi bi-clipboard2-data-fill"></i> STATYSTYKI
                                </a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-lg btn-outline-secondary tooltip-btn m-2"
                                        data-tooltip="Naciśnij, aby wylogować się"
                                        onclick="location.href='@Url.Action("LogOut", "Account")'">
                                    <i class="bi bi-file-person"></i> @User.Identity.Name?.ToUpper()
                                </button>
                            </li>
                        }
                        else
                        {
                            <li>
                                <button type="button" class="btn btn-lg btn-outline-secondary m-2"
                                        onclick="location.href='@Url.Action("Login", "Account")'">
                                    <i class="bi bi-file-person"></i> ZALOGUJ
                                </button>
                            </li>
                        }
                    </ul>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <form class="d-flex" asp-controller="Search" asp-action="SearchPatients" method="get">
                            <input class="form-control form-control-lg m-2" type="search" name="query"
                                   placeholder="Znajdź pacjenta ..." aria-label="Search">
                            <button class="btn btn-lg btn-outline-success m-2" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container border">
            <p>Copyright &copy; 2023 Paweł Staniul. All rights reserved. Ver. 7.0.0. Published 27.07.2023.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
