@model triage_hcp.Models.Patient

<div style="display:none">

    <select class="form-control" id="DateTime" name="DateTime">
        <option>@Model.StartTime</option>
    </select>

    <select class="form-control" id="Name" name="Name">
        <option>@Model.Name</option>
    </select>

    <select class="form-control" id="Surname" name="Surname">
        <option>@Model.Surname</option>
    </select>

    <select class="form-control" id="Pesel" name="Pesel">
        <option>@Model.Pesel</option>
    </select>

    <select class="form-control" id="Age" name="Age">
        <option>@Model.Age</option>
    </select>

    <select class="form-control" id="Gender" name="Gender">
        <option>@Model.Gender</option>
    </select>

    <select class="form-control" id="Diagnosis" name="Diagnosis">
        <option>@Model.Symptoms</option>
    </select>

    <select class="form-control" id="Color" name="Color">
        <option>@Model.Color</option>
    </select>

    <select class="form-control" id="Room" name="Room">
        <option>@Model.LocationId</option>
    </select>

    <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
        <option>@Model.ToWhomThePatient</option>
    </select>

    <select class="form-control" id="Doctor" name="Doctor">
        <option>@Model.Doctor</option>
    </select>

    <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
        <option>@Model.WhatNext</option>
    </select>

    <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
        <option>@Model.Remarks</option>
    </select>

    <select class="form-control" id="EndTime" name="EndTime">
        <option>@Model.EndTime</option>
    </select>

    <select class="form-control" id="WaitingTime" name="WaitingTime">
        <option>@Model.WaitingTime</option>
    </select>

    <select class="form-control" id="TotalTime" name="TotalTime">
        <option>@Model.TotalTime</option>
    </select>

    <select class="form-control" id="Allergies" name="Allergies">
        <option>@Model.Allergies</option>
    </select>

    <select class="form-control" id="SBP" name="SBP">
        <option>@Model.SBP</option>
    </select>

    <select class="form-control" id="DBP" name="DBP">
        <option>@Model.DBP</option>
    </select>

    <select class="form-control" id="HeartRate" name="HeartRate">
        <option>@Model.HeartRate</option>
    </select>

    <select class="form-control" id="Spo2" name="Spo2">
        <option>@Model.Spo2</option>
    </select>

    <select class="form-control" id="GCS" name="GCS">
        <option>@Model.GCS</option>
    </select>

    <select class="form-control" id="BodyTemperature" name="BodyTemperature">
        <option>@Model.BodyTemperature</option>
    </select>
    
</div>