@model IEnumerable<triage_hcp.Models.Patient>

@{
    ViewData["Title"] = "Admin list";
}

<div class="container pt-5">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    PESEL
                </th>
                <th>
                    Wiek
                </th>
                <th>
                    Sala
                </th>
                <th>
                    Opis w Triage
                </th>
                <th>
                    Przyjęcie
                </th>
                <th>
                    Lekarz
                </th>
                <th>
                    Decyzja
                </th>
                <th>
                    Wypisany
                </th>
                <th>
                    Edytuj
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.OrderByDescending(x => x.StartTime).Take(200))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pesel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symptoms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WhatNext)
                    </td>
                    <td>
                        @item.EndTime
                    </td>
                    <td>
                        <a href="@Url.Action("Admin","Details", new { Id = item.PatientId })"
                           class="text-center" style="text-decoration:none">
                            <div class="button btn-danger" style="border-radius: 3px; padding: 3px">
                                EDYTUJ
                            </div>
                        </a>
                    </td>
                    <td>
                        @using (Html.BeginForm("DeletePatient", "Delete", new { id = item.PatientId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" class="btn btn-danger"
                                   onclick="return confirm('Na pewno chcesz usunąć pacjenta 
                                   @Html.DisplayFor(itemItem => item.Name)
                                   @Html.DisplayFor(itemItem => item.Surname)');" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>