@model IEnumerable<triage_hcp.Models.Patient>

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Zakończono";
    var lastSevenDays = Model.Where(x => x.StartTime.Date >= DateTime.Today.AddDays(-7)).Count();

}

<div class="container">
    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">Archiwum pacjentów z ostatnich 7 dni. Łacznie: @lastSevenDays pacjentów.</h2>
            <br />

            <div class="row" style="padding-left:55px">
                <div class="col-1">
                    <strong>ID PACJENTA</strong>
                </div>
                <div class="col-1">
                    <strong>PRZYJĘCIE</strong>
                </div>
                <div class="col-1">
                    <strong>ZAKOŃCZONO</strong>
                </div>
                <div class="col-2">
                    <strong>NAZWISKO I IMIĘ</strong>
                </div>
                <div class="col-1">
                    <strong>PESEL</strong>
                </div>
                <div class="col-2">
                    <strong>OPIS W TRIAGE</strong>
                </div>
                <div class="col-2">
                    <strong>LEKARZ PROWADZĄCY</strong>
                </div>
                <div class="col-2">
                    <strong>JAKA DECYZJA</strong>
                </div>
            </div>
            <hr />
            
            @foreach (var patient in Model
            .Where(x => x.StartTime.Date >= DateTime.Today.AddDays(-7))
            .OrderByDescending(x => x.StartTime))
            {
                if (patient.IsActive == false)
                {
                    <div class="patient" style="background-color: @patient.Color; max-width: 100%">
                        <a href="@Url.Action("Done","Details", new { Id = patient.PatientId })"
                           style="text-decoration:none; color:black">
                            <div class="container">
                                <div class="row">
                                    <div class="border-end col-1">
                                        <strong>@patient.PatientId</strong>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Przyjęto: </p>
                                        <p><b>@patient.StartTime.ToString("g")</b></p>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Zakończono: </p>
                                        <p><b>@patient.EndTime.ToString("g")</b></p>
                                    </div>
                                    <div class="border-end col-2">
                                        <p><b>@patient.Surname?.ToUpper() @patient.Name?.ToUpper()</b></p>
                                    </div>
                                    <div class="border-end col-1">
                                        <p><b>@patient.Pesel</b></p>
                                    </div>
                                    <div class="border-end col-2">
                                        <p><b>@patient.Symptoms?.ToUpper()</b></p>
                                    </div>
                                    <div class="border-end col-2">
                                        <p>lek. prowadzący:</p>
                                        <p><b>@patient?.Doctor?.Name @patient?.Doctor?.Surname </b></p>
                                    </div>
                                    <div class="col-2">
                                       <p><b> @patient?.WhatNext?.ToUpper()</b></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>