@model IEnumerable<triage_hcp.Models.Pacjent>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                PESEL
            </th>
            <th>
                Wiek
            </th>
            <th>
                Sala
            </th>
            <th>
                Opis w Triage
            </th>
            <th>
                Przyjęcie
            </th>
            <th>
                Lekarz
            </th>
            <th>
                Decyzja
            </th>
            <th>
                Wypisany
            </th>
            <th>
                Edytuj
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrderByDescending(x => x.DateTime).Take(200))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoDalejZPacjentem)
                </td>
                <td>
                    @item.EndTime
                </td>
                <td>
                    <a href="@Url.Action("Edit","ModifyPatientData", new { Id = item.Id })"
                       class="text-center" style="text-decoration:none">
                        <div class="button btn-warning" style="border-radius: 3px; padding: 3px">
                            EDYTUJ
                        </div>
                    </a>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "ModifyPatientData", new { id = item.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" 
                        onclick="return confirm('Are you sure you want to delete this patient?');" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
