@model PatientSearchViewModel

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Wyszukiwanie";
    var count = Model.Patients.Count();

}

<div class="container">
    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">
                @(string.IsNullOrEmpty(Model.Query) ? "Wyszukaj pacjentów" : $"Wyniki wyszukiwania dla \"{Model.Query}\"")
            </h2>
            <br />

            <div class="row" style="padding-left:55px">
                <div class="col-1">
                    <strong>ID PACJENTA</strong>
                </div>
                <div class="col-1">
                    <strong>PRZYJĘCIE</strong>
                </div>
                <div class="col-1">
                    <strong>ZAKOŃCZONO</strong>
                </div>
                <div class="col-2">
                    <strong>NAZWISKO I IMIĘ</strong>
                </div>
                <div class="col-1">
                    <strong>PESEL</strong>
                </div>
                <div class="col-2">
                    <strong>OPIS W TRIAGE</strong>
                </div>
                <div class="col-2">
                    <strong>LEKARZ PROWADZĄCY</strong>
                </div>
                <div class="col-2">
                    <strong>JAKA DECYZJA</strong>
                </div>
            </div>
            <hr />

            @foreach (var patient in Model.Patients.OrderByDescending(x => x.StartTime))
            {
                <div class="pacjent" style="background-color: @patient.Color; max-width: 100%">
                    @if (patient.IsActive == true)
                    {
                        <a href="@Url.Action("WithDoctor","Details", new { Id = patient.PatientId })"
                           style="text-decoration:none; color:black">
                            <div class="container">
                                <div class="row">
                                    <div class="border-end col-1">
                                        <strong>@patient.PatientId</strong>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Przyjęto: </p>
                                        <p><b>@patient.StartTime.ToString("g")</b></p>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Zakończono: </p>
                                        <p><b>W trakcie</b></p>
                                    </div>
                                    <div class="border-end col-2">
                                        <b>@patient.Surname?.ToUpper() @patient.Name?.ToUpper()</b>
                                    </div>
                                    <div class="border-end col-1">
                                        <b>@patient.Pesel</b>
                                    </div>
                                    <div class="border-end col-2">
                                        <b>@patient.Symptoms?.ToUpper()</b>
                                    </div>
                                    <div class="border-end col-2">
                                        lek. prowadzący: <b>@patient.DoctorId</b>
                                    </div>
                                    <div class="col-2">
                                        <b> @patient.WhatNext?.ToUpper()</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Done","Details", new { Id = patient.PatientId })"
                           style="text-decoration:none; color:black">
                            <div class="container">
                                <div class="row">
                                    <div class="border-end col-1">
                                        <strong>@patient.PatientId</strong>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Przyjęto: </p>
                                        <p><b>@patient.StartTime.ToString("g")</b></p>
                                    </div>
                                    <div class="border-end col-1">
                                        <p>Zakończono: </p>
                                        <p><b>@patient.EndTime.ToString("g")</b></p>
                                    </div>
                                    <div class="border-end col-2">
                                        <b>@patient.Surname?.ToUpper() @patient.Name?.ToUpper()</b>
                                    </div>
                                    <div class="border-end col-1">
                                        <b>@patient.Pesel</b>
                                    </div>
                                    <div class="border-end col-2">
                                        <b>@patient.Symptoms?.ToUpper()</b>
                                    </div>
                                    <div class="border-end col-2">
                                        lek. prowadzący: <b>@patient.DoctorId</b>
                                    </div>
                                    <div class="col-2">
                                        <b> @patient.WhatNext?.ToUpper()</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            <br />
        </div>
    </div>
</div>