@model triage_hcp.Models.Patient

@{
    ViewData["Title"] = "Edytuj dane";
}


<div class="container border shadow bg-white rounded m-4 p-4">
    <h3>Edycja danych - @Model.Name @Model.Surname</h3>
    <hr />
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Imię:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Nazwisko:</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">PESEL:</label>
                    <input asp-for="Pesel" class="form-control" />
                    <span asp-validation-for="Pesel" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Wiek:</label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Płeć:</label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Lokalizacja:</label>
                    <select class="form-select" id="Room" name="Room">
                        <option>@Model.Room</option>
                        @await Html.PartialAsync("RoomList")
                    </select>
                    <span asp-validation-for="Room" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Kolor:</label>
                    <select class="form-select" id="Color" name="Color">
                        @await Html.PartialAsync("ColorList")
                    </select>
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Lekarz:</label>
                    <select class="form-select" id="Doctor" name="Doctor">
                        @await Html.PartialAsync("DoctorsList")
                    </select>
                    <span asp-validation-for="Doctor" class="text-danger"></span>
                </div>
                <br />
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Objawy:</label>
                    <input asp-for="Diagnosis" class="form-control">
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Data i godzina triage:</label>
                    <input asp-for="DateTime" class="form-control" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Data triage:</label>
                    <input asp-for="TriageDate" class="form-control" />
                    <span asp-validation-for="TriageDate" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Zakończono:</label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Obserwacje ratowniczo-pielęgniarskie:</label>
                    <input asp-for="ObserwacjeRatPiel" class="form-control" />
                    <span asp-validation-for="ObserwacjeRatPiel" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Czas oczekiwania:</label>
                    <input asp-for="WaitingTime" class="form-control" />
                    <span asp-validation-for="WaitingTime" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Łączny czas:</label>
                    <input type="number" asp-for="TotalTime" class="form-control" />
                    <span asp-validation-for="TotalTime" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Do kogo pacjent:</label>
                    <select class="form-select" id="ToWhomThePatient" name="ToWhomThePatient">
                        <option>@Model.ToWhomThePatient</option>
                        <option>INTERNISTA</option>
                        <option>CHIRURG</option>
                    </select>
                    <span asp-validation-for="ToWhomThePatient" class="text-danger"></span>
                </div>
                <br />
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Jakie decyzje:</label>
                    <select class="form-select" id="CoDalejZPacjentem" name="CoDalejZPacjentem" required>
                        <option>@Model.CoDalejZPacjentem</option>
                        @await Html.PartialAsync("WhatDecision")
                    </select>
                    <span asp-validation-for="CoDalejZPacjentem" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Status pacjenta</label>
                    <select class="form-select" id="Active" name="Active">
                        <option>@Model.Active</option>
                        <option>Tak</option>
                        <option>Nie</option>
                    </select>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
                <br />
                
                <div class="form-group">
                    <label class="control-label">Alergie:</label>
                    <input asp-for="Allergies" class="form-control" />
                    <span asp-validation-for="Allergies" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Temperatura:</label>
                    <input asp-for="BodyTemperature" class="form-control" />
                    <span asp-validation-for="BodyTemperature" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Puls:</label>
                    <input asp-for="HeartRate" class="form-control" />
                    <span asp-validation-for="HeartRate" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Saturacja:</label>
                    <input asp-for="Spo2" class="form-control" />
                    <span asp-validation-for="Spo2" class="text-danger"></span>
                </div>
                <br />

                <div class="row">
                    <label class="control-label">Ciśnienie tętnicze:</label>
                    <div class="col-sm-3">
                        <input asp-for="SBP" type="text" class="form-control" style="max-width: 70px" />
                        <span asp-validation-for="SBP" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <h3>/</h3>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="DBP" type="text" class="form-control" style="max-width: 70px" />
                        <span asp-validation-for="DBP" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Skala GCS:</label>
                    <input asp-for="GCS" class="form-control" />
                    <span asp-validation-for="GCS" class="text-danger"></span>
                </div>
                <br />

            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">ZAPISZ ZMIANY</button>
            <a asp-action="AdminList" asp-controller="ListsOfPatients" class="btn btn-success">POWRÓT</a>
        </div>
    </form>
</div>


@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
