@model triage_hcp.Models.Pacjent
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Zakończono";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string Hours()
    {

        string hours = Convert.ToString(Model.TotalTime);
        int controlNumber = int.Parse(hours.Substring(0, 1));

        if (controlNumber == 1)
        {
            return "godzina";
        }
        else if (controlNumber == 2 || controlNumber == 3 || controlNumber == 4)
        {
            return "godziny";
        }
        else
        {
            return "godzin";
        }

    }


}

<div class="container">
    <div class="row">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @await Html.PartialAsync("DoneFormFields")

            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h5>Przyjęty w SOR:</h5>
                                <h4>@Model.DateTime.ToString("D")</h4>
                                <h1>@Model.DateTime.ToString("t")</h1>
                            </div>
                            <div class="col-5">
                                <h2>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h2>
                                <h5>@Model.Gender @Model.Age lat</h5>
                                <h5>PESEL: @Model.Pesel</h5>
                            </div>
                            <div class="col-3">
                                @if (Model.EndTime <= DateTime.MinValue | Model.Active == "Tak")
                                {
                                    <h4>Pacjent dalej w SOR</h4>
                                }
                                else
                                {
                                    <p>Zakończono: </p>
                                    <h4>@Model.EndTime.ToString("D")</h4>
                                    <h1>@Model.EndTime.ToString("t")</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-5">
                                <br />
                                <p>Gdzie pacjent przebywał: </p>
                                <br />

                                <p>Do kogo był wykonany TRIAGE:</p>
                                <br />

                                <p>Jak długo pacjent czekał za lekarzem:</p>
                                <br />

                                <p>Łączny czas przebywania w SOR:</p>
                                <br />

                                <p>Lekarz prowadzący:</p>
                                <br />

                                <p><b>JAKA DECYZJA:</b></p>
                                <br />

                                <p><b>PRZYWRÓCIĆ PACJENTA DO LISTY AKTYWNYCH?</b></p>
                                <br />

                            </div>

                            <div class="col-6">
                                <br />
                                <p><b>@Model.Room?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.ToWhomThePatient?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.WaitingTime</b> minut</p>
                                <br />

                                @if (Model.TotalTime < 1)
                                {
                                    <p><b>Mniej niż 1 godzinę</b></p>
                                }
                                else if (Model.TotalTime > 9)
                                {
                                    <p><b>@Model.TotalTime</b> godzin</p>
                                }
                                else
                                {
                                    <p><b>@Model.TotalTime</b> @Hours()</p>
                                }
                                <br />

                                <p><b>@Model.Doctor?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.CoDalejZPacjentem?.ToUpper()</b></p>
                                <br />


                                <div class="form-group col-6">
                                    <select class="form-select" id="Active" name="Active">
                                        <option>@Model.Active</option>
                                        <option>Tak</option>
                                        <option>Nie</option>
                                    </select>
                                    <span asp-validation-for="Active" class="text-danger"></span>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />
                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">OPIS TRIAGE</h5>
                                <div class="container border" style="min-height: 100px; padding-bottom: 10px; margin-bottom: 30px">
                                    <br />
                                    <h4>@Model.Diagnosis?.ToUpper()</h4>
                                </div>

                                <h5>Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="container border" style="min-height: 100px; padding-bottom: 10px; margin-bottom: 30px">
                                    <br />
                                    <h4>@Model.ObserwacjeRatPiel?.ToUpper()</h4>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <hr />

                <button type="submit" class="btn btn-primary" style="margin: 2px">ZATWIERDŹ</button>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
