@model triage_hcp.Models.Patient

<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Edycja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-7">
    <div class="row">
        <form asp-action="Update" class="col-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />
            @await Html.PartialAsync("_EditFormFields")
            
            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">
                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <h2>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h2>
                                <h5>@Model.Gender @Model.Age lat</h5>
                                <h5>PESEL: @Model.Pesel</h5>
                            </div>
                            <div class="col-4">
                                <h1>@Model.StartTime.ToString("t")</h1>
                                <h4>@Model.StartTime.ToString("D")</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <p>Imię: </p>
                        <br />
                        <p>Nazwisko: </p>
                        <br />
                        <p>PESEL: </p>
                        <br />
                        <p>Wiek: </p>
                        <br />
                        <p>Płeć: </p>
                        <br />
                        <p>Opis w traiage: </p>
                        <br />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Pesel" class="form-control" />
                            <span asp-validation-for="Pesel" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <br />

                        <select class="form-control" id="Gender" name="Gender">
                            <option>@Model.Gender</option>
                            <option>Kobieta</option>
                            <option>Mężczyzna</option>
                        </select>
                        <br />

                        <div style="font-size: 16px">
                            <p><b>@Model.Symptoms</b></p>
                        </div>
                        <br />
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger" style="margin: 2px">ZAPISZ ZMIANY</button>
                        </div>
                        <div class="col-6">
                            <button asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-primary" style="margin: 2px">POWRÓT DO LISTY</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
