@model triage_hcp.Models.Patient
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Przypisz lekarza!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    

    int WaitingTime(DateTime triagedate)
    {

        DateTime aktualTime = DateTime.Now;
        DateTime triageDate = triagedate;

        TimeSpan interval = aktualTime - triageDate;

        double minutes = interval.TotalMinutes;
        int totalMinutes = Convert.ToInt32(minutes);

        return totalMinutes;

    }
}

<div class="container">
    <div class="row">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                @await Html.PartialAsync("HiddenFormFields")

                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                    <option>@Model.CoDalejZPacjentem</option>
                </select>

                <select class="form-control" id="Active" name="Active">
                    <option>@Model.Active</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 1)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 10)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 60)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 120)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 240)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        
                                        <h5>@Model.Gender @Model.Age lat</h5> 
                                        <h5>PESEL: @Model.Pesel</h5>
                                    </div>

                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 1)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>
                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 10)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 60)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 120)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 240)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <h3>@Model.Diagnosis?.ToUpper()</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-center">
                        <div class="row">
                            <div class="col-3">
                                <br />
                                <p>Lokalizacja: </p>
                                <br />
                                <p>Do kogo pacjent:</p>
                                <br />
                                <p>Kolor:</p>
                                <br />
                                <span class="animation">
                                    <p><b>Wybierz lekarza!</b></p>
                                </span>
                            </div>

                            <div class="col-6">
                                <br />
                                <div class="form-group">
                                    <select class="form-select" id="Room" name="Room">
                                        <option>@Model.Room</option>
                                        @await Html.PartialAsync("RoomList")
                                    </select>
                                    <span asp-validation-for="Room" class="text-danger"></span>
                                </div>
                                <br />

                                <select class="form-select" id="ToWhomThePatient" name="ToWhomThePatient">
                                    <option>@Model.ToWhomThePatient</option>
                                    <option>INTERNISTA</option>
                                    <option>CHIRURG</option>
                                </select>
                                <br />

                                <select class="form-select" id="Color" name="Color">
                                    @await Html.PartialAsync("ColorList")
                                </select>
                                <br />


                                <div class="form-group">
                                    <select class="form-select" id="Doctor" name="Doctor">
                                        @await Html.PartialAsync("DoctorsList")
                                    </select>
                                    <span asp-validation-for="Doctor" class="text-danger"></span>
                                </div>
                                <br />

                            </div>
                        </div>
                        <hr />
                        <br />


                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-danger">ZAPISZ ZMIANY</button>
                            </div>
                            <div class="col-4">
                                <a href="@Url.Action("GeneratePatientDocument","Documentation", new { Id = Model.Id })"
                                   class="btn btn-secondary">
                                    DRUKUJ DOKUMENTY
                                </a>
                            </div>
                            <div class="col-4">
                                <button asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-primary">POWRÓT DO LISTY</button>
                            </div>
                        </div>

                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel" rows="10">
                                        @Model.ObserwacjeRatPiel</textarea>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
