@model triage_hcp.Models.Patient
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Przypisz lekarza!";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="row">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />

            <div style="display:none">

                @await Html.PartialAsync("_HiddenFormFields")

                <select asp-for="WhatNext" class="form-control">
                    <option>@Model.WhatNext</option>
                </select>

                <select asp-for="IsActive" class="form-control">
                    <option>@Model.IsActive</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (Model.WaitingTime > 1)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (Model.WaitingTime > 10)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (Model.WaitingTime > 60)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (Model.WaitingTime > 120)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (Model.WaitingTime > 240)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        
                                        <h5>@Model.Gender @Model.Age lat</h5> 
                                        <h5>PESEL: @Model.Pesel</h5>
                                    </div>

                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (Model.WaitingTime > 1)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.StartTime.ToString("t")</h1>
                                                    <h4>@Model.StartTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                                </span>
                                            }
                                            else
                                            {
                                                <h1>@Model.StartTime.ToString("t")</h1>
                                                <h4>@Model.StartTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (Model.WaitingTime > 10)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.StartTime.ToString("t")</h1>
                                                    <h4>@Model.StartTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.StartTime.ToString("t")</h1>
                                                <h4>@Model.StartTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (Model.WaitingTime > 60)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.StartTime.ToString("t")</h1>
                                                    <h4>@Model.StartTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.StartTime.ToString("t")</h1>
                                                <h4>@Model.StartTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (Model.WaitingTime > 120)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.StartTime.ToString("t")</h1>
                                                    <h4>@Model.StartTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.StartTime.ToString("t")</h1>
                                                <h4>@Model.StartTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (Model.WaitingTime > 240)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.StartTime.ToString("t")</h1>
                                                    <h4>@Model.StartTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.StartTime.ToString("t")</h1>
                                                <h4>@Model.StartTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@Model.WaitingTime</b> minut</p>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <h3>@Model.Symptoms?.ToUpper()</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-center">
                        <div class="row">
                            <div class="col-3">
                                <br />
                                <p>Lokalizacja: </p>
                                <br />
                                <p>Do kogo pacjent:</p>
                                <br />
                                <p>Kolor:</p>
                                <br />
                                <span class="animation">
                                    <p><b>Wybierz lekarza!</b></p>
                                </span>
                            </div>

                            <div class="col-6">
                                <br />
                                <div class="form-group">
                                    <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.Locations">
                                    </select>
                                </div>
                                <br />

                                <select asp-for="ToWhomThePatient" class="form-select">
                                    <option>@Model?.ToWhomThePatient</option>
                                    <option>INTERNISTA</option>
                                    <option>CHIRURG</option>
                                </select>
                                <br />

                                <select asp-for="Color" class="form-select">
                                    @await Html.PartialAsync("_ColorList")
                                </select>
                                <br />

                                <div class="form-group">
                                    <select asp-for="DoctorId" asp-items="@ViewData["Doctors"] as SelectList"
                                        class="form-select">
                                        <option value="">Wybierz lekarza...</option>
                                    </select>
                                </div>

                                <br />
                            </div>
                        </div>
                        <hr />
                        <br />


                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-danger">ZAPISZ ZMIANY</button>
                            </div>
                            <div class="col-4">
                                <a href="@Url.Action("GeneratePatientDocument","Documentation", new { Id = Model.PatientId })"
                                   class="btn btn-secondary">
                                    DRUKUJ DOKUMENTY
                                </a>
                            </div>
                            <div class="col-4">
                                <button asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-primary">POWRÓT DO LISTY</button>
                            </div>
                        </div>

                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel" rows="10">
                                        @Model.Remarks</textarea>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printModalLabel">Drukowanie dokumentów</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Czy chcesz wydrukować dokumenty pacjenta <b>@Model.Name @Model.Surname?</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ANULUJ</button>
                <a href="@Url.Action("GeneratePatientDocument","Documentation", new { Id = Model.PatientId })" class="btn btn-danger" id="printButton">DRUKUJ</a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#printModal').modal('show');
        $('.close, .btn-secondary, #printButton').click(function () {
            $('#printModal').modal('hide');
        });
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
