@model triage_hcp.Models.Pacjent
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Zakończono";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="row">
        <form asp-action="Done">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@Model.DateTime</option>
                </select>
                <span asp-validation-for="DateTime" class="text-danger"></span>

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>

                <select class="form-control" id="Name" name="Name">
                    <option>@Model.Name</option>
                </select>

                <select class="form-control" id="Surname" name="Surname">
                    <option>@Model.Surname</option>
                </select>

                <select class="form-control" id="Pesel" name="Pesel">
                    <option>@Model.Pesel</option>
                </select>

                <select class="form-control" id="Age" name="Age">
                    <option>@Model.Age</option>
                </select>

                <select class="form-control" id="Gender" name="Gender">
                    <option>@Model.Gender</option>
                </select>

                <select class="form-control" id="Diagnosis" name="Diagnosis">
                    <option>@Model.Diagnosis</option>
                </select>

                <select class="form-control" id="Color" name="Color">
                    <option>@Model.Color</option>
                </select>

                <select class="form-control" id="Room" name="Room">
                    <option>@Model.Room</option>
                </select>

                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                    <option>@Model.ToWhomThePatient</option>
                </select>

                <select class="form-control" id="Doctor" name="Doctor">
                    <option>@Model.Doctor</option>
                </select>

                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                    <option>@Model.CoDalejZPacjentem</option>
                </select>

                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                    <option>@Model.ObserwacjeRatPiel</option>
                </select>

                <select class="form-control" id="EndTime" name="EndTime">
                    <option>@Model.EndTime</option>
                </select>
            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h5>Przyjęty w SOR:</h5>
                                <h4>@Model.DateTime.ToString("D")</h4>
                                <h1>@Model.DateTime.ToString("t")</h1>
                            </div>
                            <div class="col-5">
                                <h2>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h2>
                                <h5>@Model.Gender, lat @Model.Age</h5>
                                <h5>PESEL: @Model.Pesel</h5>
                            </div>
                            <div class="col-3">
                                @if (@Model.EndTime <= DateTime.MinValue | @Model.Active == "Tak")
                                {
                                    <h4>Pacjent dalej w SOR</h4>
                                }
                                else
                                {
                                    <p>Zakończono: </p>
                                    <h4>@Model.EndTime.ToString("D")</h4>
                                    <h1>@Model.EndTime.ToString("t")</h1>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <br />
                                <p>Gdzie pacjent przebywał: </p>
                                <br />

                                <p>Do kogo był wykonany TRIAGE:</p>
                                <br />

                                <p>Lekarz prowadzący:</p>
                                <br />

                                <p><b>JAKA DECYZJA:</b></p>
                                <br />

                                <p><b>PRZYWRÓCIĆ PACJENTA DO LISTY AKTYWNYCH?</b></p>
                                <br />

                            </div>

                            <div class="col-6">
                                <br />
                                <p><b>@Model.Room?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.ToWhomThePatient?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.Doctor?.ToUpper()</b></p>
                                <br />

                                <p><b>@Model.CoDalejZPacjentem?.ToUpper()</b></p>
                                <br />

                                <div class="form-group col-6">
                                    <select class="form-select" id="Active" name="Active">
                                        <option>@Model.Active</option>
                                        <option>Tak</option>
                                        <option>Nie</option>
                                    </select>
                                    <span asp-validation-for="Active" class="text-danger"></span>
                                </div>
                                <br />
                            </div>
                        </div>
                        <br />
                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">OPIS TRIAGE</h5>
                                <div class="container border" style="min-height: 100px; padding-bottom: 10px; margin-bottom: 30px">
                                    <br />
                                    <h4>@Model.Diagnosis?.ToUpper()</h4>
                                </div>

                                <h5>Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="container border" style="min-height: 100px; padding-bottom: 10px; margin-bottom: 30px">
                                    <br />
                                    <h4>@Model.ObserwacjeRatPiel?.ToUpper()</h4>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <hr />

                <button type="submit" class="btn btn-primary" style="margin: 2px">ZATWIERDŹ</button>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
