@model triage_hcp.Models.Pacjent
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Edycja";
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<div class="container col-7">
    <div class="row">
        <form asp-action="Details" class="col-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@Model.DateTime</option>
                </select>

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>

                <select class="form-control" id="EndTime" name="EndTime">
                    <option>@Model.EndTime</option>
                </select>

                <select class="form-control" id="WaitingTime" name="WaitingTime">
                    <option>@Model.WaitingTime</option>
                </select>

                <select class="form-control" id="Diagnosis" name="Diagnosis">
                    <option>@Model.Diagnosis</option>
                </select>

                <select class="form-control" id="Color" name="Color">
                    <option>@Model.Color</option>
                </select>

                <select class="form-control" id="Epikryza" name="Epikryza">
                    <option>@Model.Epikryza</option>
                </select>

                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                    <option>@Model.ObserwacjeRatPiel</option>
                </select>

                <select class="form-control" id="Room" name="Room">
                    <option>@Model.Room</option>
                </select>

                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                    <option>@Model.ToWhomThePatient</option>
                </select>

                <select class="form-control" id="Doctor" name="Doctor">
                    <option>@Model.Doctor</option>
                </select>

                <select class="form-control" id="Active" name="Active">
                    <option>@Model.Active</option>
                </select>

                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem" required>
                    <option>@Model.CoDalejZPacjentem</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">
                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <h2>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h2>
                                <h5>@Model.Gender @Model.Age lat</h5>
                                <h5>PESEL: @Model.Pesel</h5>
                            </div>
                            <div class="col-4">
                                <h1>@Model.DateTime.ToString("t")</h1>
                                <h4>@Model.DateTime.ToString("D")</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <p>Imię: </p>
                        <br />
                        <p>Nazwisko: </p>
                        <br />
                        <p>PESEL: </p>
                        <br />
                        <p>Wiek: </p>
                        <br />
                        <p>Płeć: </p>
                        <br />
                        <p>Opis w traiage: </p>
                        <br />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Pesel" class="form-control" />
                            <span asp-validation-for="Pesel" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <br />

                        <select class="form-control" id="Gender" name="Gender">
                            <option>@Model.Gender</option>
                            <option>Kobieta</option>
                            <option>Mężczyzna</option>
                        </select>
                        <br />

                        <div style="font-size: 16px">
                            <p><b>@Model.Diagnosis</b></p>
                        </div>
                        <br />
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger" style="margin: 2px">ZAPISZ ZMIANY</button>
                        </div>
                        <div class="col-6">
                            <button asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-primary" style="margin: 2px">POWRÓT DO LISTY</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
