@model triage_hcp.Models.Pacjent

@{
    ViewData["Title"] = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-lg-7 border shadow p-3 mb-5 bg-white rounded">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@Model.DateTime</option>
                </select>
                <span asp-validation-for="DateTime" class="text-danger"></span>

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>

                <select class="form-control" id="Diagnosis" name="Diagnosis">
                    <option>@Model.Diagnosis</option>
                </select>

                <select class="form-control" id="Epikryza" name="Epikryza">
                    <option>@Model.Epikryza</option>
                </select>

                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                    <option>@Model.ObserwacjeRatPiel</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">
                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <h1>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h1>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p>Data wykonania triage:</p>
                        <br />
                        <p>Imię: </p>
                        <br />
                        <p>Nazwisko: </p>
                        <br />
                        <p>PESEL: </p>
                        <br />
                        <p>Wiek: </p>
                        <br />
                        <p>Płeć: </p>
                        <br />
                        <p>Lokalizacja: </p>
                        <br />
                        <p>Do kogo pacjent:</p>
                        <br />
                        <p>Lekarz prowadzący:</p>
                        <br />
                        <p>Pacjent dalej w SOR?</p>
                        <br />
                        <p>Jakie decyzje?</p>
                        <br />
                        <p>Opis w traiage: </p>
                        <br />


                    </div>

                    <div class="col-md-6">
                        <p><b>@Model.DateTime.ToString("f")</b></p>
                        <br />
                        <div class="form-group">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Pesel" class="form-control" />
                            <span asp-validation-for="Pesel" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <br />

                        <select class="form-control" id="Gender" name="Gender">
                            <option>@Model.Gender</option>
                            <option>Kobieta</option>
                            <option>Mężczyzna</option>
                        </select>
                        <br />

                        <div class="form-group">
                            <select class="form-control" id="Room" name="Room">
                                <option>@Model.Room</option>
                                <option>Poczekalnia</option>
                                <option>Korytarz</option>
                                <option>Wituś</option>
                                <option>Wituś 1</option>
                                <option>Wituś 2</option>
                                <option>Wituś 3</option>
                                <option>WIT</option>
                                <option>WIT 1</option>
                                <option>WIT 2</option>
                                <option>WIT 3</option>
                                <option>WIT 4</option>
                                <option>Sala obserwacyjna 5</option>
                                <option>Sala obserwacyjna 6</option>
                                <option>Sala obserwacyjna 7</option>
                                <option>Sala obserwacyjna 8</option>
                                <option>Sala obserwacyjna 9</option>
                                <option>Sala obserwacyjna 10</option>
                                <option>Izolatka Z1</option>
                                <option>Izolatka Z2</option>
                                <option>Izolatka Z3</option>
                                <option>Dekontaminacja</option>
                            </select>
                            <span asp-validation-for="Room" class="text-danger"></span>
                        </div>
                        <br />

                        <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                            <option>@Model.ToWhomThePatient</option>
                            <option>INTERNISTA</option>
                            <option>CHIRURG</option>
                        </select>
                        <br />


                        <div class="form-group">
                            <select class="form-control" id="Doctor" name="Doctor">
                                <option>@Model.Doctor</option>
                                <option>Avdieiev Anton</option>
                                <option>Betkowiak Zuzanna</option>
                                <option>Binaś Marcin</option>
                                <option>Chrzanowski Monica</option>
                                <option>Czekała-Karpiński Dawid</option>
                                <option>Dabryneuski Uladzimir</option>
                                <option>Fritzkiewicz Witold</option>
                                <option>Gąsiorowski Mateusz</option>
                                <option>Gilier Kamila</option>
                                <option>Grymuza Maciej</option>
                                <option>Huzenko Jaroslaw</option>
                                <option>Junewicz</option>
                                <option>Kłaczyński Mateusz</option>
                                <option>Kohan Anastasiia</option>
                                <option>Łuczak Agnieszka</option>
                                <option>Makowska Agata</option>
                                <option>Małkiewicz Tomasz</option>
                                <option>Miroshnichenko Yurii</option>
                                <option>Nowak Michał</option>
                                <option>Pankiewicz Mateusz</option>
                                <option>Paszkowiak-Ciesielska Hanna</option>
                                <option>Pisula Piotr</option>
                                <option>Polupanov Yevhen</option>
                                <option>Potyka Marek</option>
                                <option>Razumka</option>
                                <option>Rojna Maciej</option>
                                <option>Skrzypek Dariusz</option>
                                <option>Śliwowski Cezary</option>
                                <option>Śmidrowicz Bartosz</option>
                                <option>Wierzchowiecki Jerzy</option>
                                <option>Woźny Tomasz</option>
                                <option>Yakymchuk</option>
                                <option>Zanko Semen</option>
                                <option>Zhdanov Sergii</option>
                            </select>
                            <span asp-validation-for="Doctor" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <select class="form-control" id="Active" name="Active">
                                <option>@Model.Active</option>
                                <option>Tak</option>
                                <option>Nie</option>
                            </select>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem" required>
                                <option>@Model.CoDalejZPacjentem</option>
                                <option>W trakcie diagnostyki SOR</option>
                                <option>Wypisany do domu</option>
                                <option>Interna</option>
                                <option>Urologia</option>
                                <option>Kardiologia A</option>
                                <option>Kardiologia B</option>
                                <option>Neurologia</option>
                                <option>OIOM</option>
                                <option>Chirurgia</option>
                                <option>Ortopedia</option>
                                <option>Psychiatria</option>
                                <option>Przekazany do innego szpitala</option>
                                <option>Neurochirurgia</option>
                                <option>Ginekologia</option>
                                <option>Chirurgia szczękowo-twarzowa</option>
                                <option>Oddalił się z SOR</option>
                                <option>Zgon</option>
                            </select>
                        </div>
                        <br />
                        <div style="font-size: 16px">
                            <p><b>@Model.Diagnosis</b></p>
                        </div>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" style="margin: 2px" id="Color" name="Color" value="red">CZERWONY</button>
                        <button type="submit" class="btn btn-warning" style="margin: 2px" id="Color" name="Color" value="orange">POMARAŃCZOWY</button>
                        <button type="submit" class="btn btn-warning" style="margin: 2px; background-color: yellow" id="Color" name="Color" value="yellow">ŻÓŁTY</button>
                        <button type="submit" class="btn btn-success" style="margin: 2px" id="Color" name="Color" value="lightgreen">ZIELONY</button>
                        <button type="submit" class="btn btn-primary" style="margin: 2px" id="Color" name="Color" value="lightskyblue">NIEBIESKI</button>
                    </div>
                </div>
            </div>

            <div>
                <p>
                    * aby zatwierdzić zmiany naciśnij na przycisk z kolorem pacjenta
                </p>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
