@model triage_hcp.Models.Pacjent

@{
    ViewData["Title"] = "Przypisz lekarza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row border shadow p-3 mb-5 bg-white rounded">
        <form asp-action="WithoutDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">
                <div class="form-group">
                    <label asp-for="DateTime" class="control-label"></label>
                    <select class="form-control" id="DateTime" name="DateTime">
                        <option>@Model.DateTime</option>
                    </select>
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <br />

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>
                <br />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <select class="form-control" id="Name" name="Name">
                        <option>@Model.Name</option>
                    </select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <select class="form-control" id="Surname" name="Surname">
                        <option>@Model.Surname</option>
                    </select>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Pesel" class="control-label"></label>
                    <select class="form-control" id="Pesel" name="Pesel">
                        <option>@Model.Pesel</option>
                    </select>
                    <span asp-validation-for="Pesel" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <select class="form-control" id="Age" name="Age">
                        <option>@Model.Age</option>
                    </select>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select class="form-control" id="Gender" name="Gender">
                        <option>@Model.Gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Diagnosis" class="control-label"></label>
                    <select class="form-control" id="Diagnosis" name="Diagnosis">
                        <option>@Model.Diagnosis</option>
                    </select>
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <select class="form-control" id="Active" name="Active">
                        <option>@Model.Active</option>
                    </select>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
                <br />

                <div class="form-group">
                    <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                        <option>@Model.CoDalejZPacjentem</option>
                    </select>
                    <span asp-validation-for="CoDalejZPacjentem" class="text-danger"></span>
                </div>
                <div class="form-group" style="padding-bottom: 50px">
                    <textarea class="form-control" id="Epikryza" name="Epikryza" rows="10">
                        @Model.Epikryza</textarea>
                    <span asp-validation-for="Epikryza" class="text-danger"></span>
                </div>
            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <h1>@Model.Name?.ToUpper() @Model.Surname?.ToUpper() -- <span class="animation"> przypisz lekarza</span> </h1>
                </div>

                <div class="row">
                    <div class="col-2">
                        <p>Data wykonania triage:</p>
                        <p>PESEL: </p>
                        <p>Wiek: </p>
                        <p>Płeć: </p>
                        <p style="padding-bottom: 75px">RE-TRIAGE: </p>
                        <br />
                        <p>Lokalizacja: </p>
                        <br />
                        <p>Lekarz prowadzący:</p>
                        <br />
                        <p>Opis w traiage: </p>
                        <br />
                        <a href="~/docs/karta_wit.pdf" target="_blank" class="text-center" style="text-decoration:none">
                            <div class="btn-primary" style="border-radius: 3px; padding: 3px; max-width: 100px">
                                KARTA WIT
                            </div>
                        </a>
                    </div>

                    <div class="col-4">
                        <p><b>@Model.DateTime.ToString("f")</b></p>
                        <p><b>@Model.Pesel</b></p>
                        <p><b>@Model.Age</b></p>
                        <p><b>@Model.Gender</b></p>

                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" style="margin: 2px" id="Color" name="Color" value="red">CZERWONY</button>
                            <button type="submit" class="btn btn-warning" style="margin: 2px" id="Color" name="Color" value="orange">POMARAŃCZOWY</button>
                            <br />
                            <button type="submit" class="btn btn-warning" style="margin: 2px; background-color: yellow" id="Color" name="Color" value="yellow">ŻÓŁTY</button>
                            <button type="submit" class="btn btn-success" style="margin: 2px" id="Color" name="Color" value="lightgreen">ZIELONY</button>
                            <br />
                            <button type="submit" class="btn btn-primary" style="margin: 2px" id="Color" name="Color" value="lightskyblue">NIEBIESKI</button>
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <select class="form-control" id="Room" name="Room">
                                <option>@Model.Room</option>
                                <option>Poczekalnia</option>
                                <option>Korytarz</option>
                                <option>Wituś</option>
                                <option>Wituś 1</option>
                                <option>Wituś 2</option>
                                <option>Wituś 3</option>
                                <option>WIT</option>
                                <option>WIT 1</option>
                                <option>WIT 2</option>
                                <option>WIT 3</option>
                                <option>WIT 4</option>
                                <option>Sala obserwacyjna 5</option>
                                <option>Sala obserwacyjna 6</option>
                                <option>Sala obserwacyjna 7</option>
                                <option>Sala obserwacyjna 8</option>
                                <option>Sala obserwacyjna 9</option>
                                <option>Sala obserwacyjna 10</option>
                                <option>Izolatka Z1</option>
                                <option>Izolatka Z2</option>
                                <option>Izolatka Z3</option>
                                <option>Dekontaminacja</option>
                            </select>
                            <span asp-validation-for="Room" class="text-danger"></span>
                        </div>
                        <br />

                        <div class="form-group">
                            <select class="form-control" id="Doctor" name="Doctor">
                                <option>@Model.Doctor</option>
                                <option>Avdieiev Anton</option>
                                <option>Betkowiak Zuzanna</option>
                                <option>Binaś Marcin</option>
                                <option>Chrzanowski Monica</option>
                                <option>Czekała-Karpiński Dawid</option>
                                <option>Dabryneuski Uladzimir</option>
                                <option>Fritzkiewicz Witold</option>
                                <option>Gąsiorowski Mateusz</option>
                                <option>Gilier Kamila</option>
                                <option>Grymuza Maciej</option>
                                <option>Huzenko Jaroslaw</option>
                                <option>Junewicz</option>
                                <option>Kłaczyński Mateusz</option>
                                <option>Łuczak Agnieszka</option>
                                <option>Makowska Agata</option>
                                <option>Małkiewicz Tomasz</option>
                                <option>Miroshnichenko Yurii</option>
                                <option>Nowak Michał</option>
                                <option>Pankiewicz Mateusz</option>
                                <option>Paszkowiak-Ciesielska Hanna</option>
                                <option>Pisula Piotr</option>
                                <option>Polupanov Yevhen</option>
                                <option>Potyka Marek</option>
                                <option>Razumka</option>
                                <option>Rojna Maciej</option>
                                <option>Skrzypek Dariusz</option>
                                <option>Śliwowski Cezary</option>
                                <option>Śmidrowicz Bartosz</option>
                                <option>Wierzchowiecki Jerzy</option>
                                <option>Woźny Tomasz</option>
                                <option>Yakymchuk</option>
                                <option>Zanko Semen</option>
                                <option>Zhdanov Sergii</option>
                            </select>
                            <span asp-validation-for="Doctor" class="text-danger"></span>
                        </div>
                        <br />

                        <div style="font-size: 16px">
                            <p><b>@Model.Diagnosis</b></p>
                        </div>

                    </div>

                    <div class="border col-5" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                        <div style="background-color:white; padding: 10px 10px 40px 10px">
                            <h5>Obserwacje ratowniczo pielęgniarskie</h5>
                            <div class="form-group">
                                <textarea class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel" rows="17">
                                    @Model.ObserwacjeRatPiel</textarea>
                                <span asp-validation-for="ObserwacjeRatPiel" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div>
                <p>* aby zatwierdzić zmiany naciśnij na przycisk z kolorem pacjenta</p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
