@model triage_hcp.Models.Pacjent
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Przypisz lekarza!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    

    int WaitingTime(DateTime triagedate)
    {

        DateTime aktualTime = DateTime.Now;
        DateTime triageDate = triagedate;

        TimeSpan interval = aktualTime - triageDate;

        double minutes = interval.TotalMinutes;
        int totalMinutes = Convert.ToInt32(minutes);

        return totalMinutes;

    }
}

<div class="container">
    <div class="row">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@Model.DateTime</option>
                </select>
                <span asp-validation-for="DateTime" class="text-danger"></span>

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>

                <select class="form-control" id="WaitingTime" name="WaitingTime">
                    <option>@WaitingTime(@Model.DateTime)</option>
                </select>
                <br />

                <select class="form-control" id="Name" name="Name">
                    <option>@Model.Name</option>
                </select>

                <select class="form-control" id="Surname" name="Surname">
                    <option>@Model.Surname</option>
                </select>

                <select class="form-control" id="Pesel" name="Pesel">
                    <option>@Model.Pesel</option>
                </select>

                <select class="form-control" id="Age" name="Age">
                    <option>@Model.Age</option>
                </select>

                <select class="form-control" id="Gender" name="Gender">
                    <option>@Model.Gender</option>
                </select>

                <select class="form-control" id="Diagnosis" name="Diagnosis">
                    <option>@Model.Diagnosis?.ToUpper()</option>
                </select>

                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                    <option>@Model.CoDalejZPacjentem</option>
                </select>

                <select class="form-control" id="Active" name="Active">
                    <option>@Model.Active</option>
                </select>


                <select class="form-control" id="SBP" name="SBP">
                    <option>@Model.SBP</option>
                </select>

                <select class="form-control" id="DBP" name="DBP">
                    <option>@Model.DBP</option>
                </select>

                <select class="form-control" id="HeartRate" name="HeartRate">
                    <option>@Model.HeartRate</option>
                </select>

                <select class="form-control" id="Spo2" name="Spo2">
                    <option>@Model.Spo2</option>
                </select>

                <select class="form-control" id="GCS" name="GCS">
                    <option>@Model.GCS</option>
                </select>

                <select class="form-control" id="BodyTemperature" name="BodyTemperature">
                    <option>@Model.BodyTemperature</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 1)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 10)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 60)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 120)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 240)
                                            {
                                                <h2>
                                                    <span class="animation">
                                                        @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                    </span>
                                                </h2>

                                            }
                                            else
                                            {
                                                <h2>
                                                    @Model.Surname?.ToUpper() @Model.Name?.ToUpper()
                                                </h2>
                                            }
                                        }

                                        
                                        <h5>@Model.Gender @Model.Age lat</h5> 
                                        <h5>PESEL: @Model.Pesel</h5>
                                    </div>

                                    <div class="col-6">
                                        @if (Model.Color == "red")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 1)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>
                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "orange")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 10)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "yellow")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 60)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightgreen")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 120)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                        @if (Model.Color == "lightskyblue")
                                        {
                                            @if (WaitingTime(Model.DateTime) > 240)
                                            {
                                                <span class="animation">
                                                    <h1>@Model.DateTime.ToString("t")</h1>
                                                    <h4>@Model.DateTime.ToString("D")</h4>
                                                    <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                                </span>

                                            }
                                            else
                                            {
                                                <h1>@Model.DateTime.ToString("t")</h1>
                                                <h4>@Model.DateTime.ToString("D")</h4>
                                                <p>Czas oczekiwania na lekarza: <b>@WaitingTime(Model.DateTime)</b> minut</p>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <h3>@Model.Diagnosis?.ToUpper()</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-center">
                        <div class="row">
                            <div class="col-3">
                                <br />
                                <p>Lokalizacja: </p>
                                <br />
                                <p>Do kogo pacjent:</p>
                                <br />
                                <p>Kolor:</p>
                                <br />
                                <span class="animation">
                                    <p><b>Wybierz lekarza!</b></p>
                                </span>
                            </div>

                            <div class="col-6">
                                <br />
                                <div class="form-group">
                                    <select class="form-select" id="Room" name="Room">
                                        <option>@Model.Room</option>
                                        <option>Poczekalnia</option>
                                        <option>Korytarz</option>
                                        <option>Wituś</option>
                                        <option>Wituś 1</option>
                                        <option>Wituś 2</option>
                                        <option>Wituś 3</option>
                                        <option>WIT</option>
                                        <option>WIT 1</option>
                                        <option>WIT 2</option>
                                        <option>WIT 3</option>
                                        <option>WIT 4</option>
                                        <option>Sala obserwacyjna 5</option>
                                        <option>Sala obserwacyjna 6</option>
                                        <option>Sala obserwacyjna 7</option>
                                        <option>Sala obserwacyjna 8</option>
                                        <option>Sala obserwacyjna 9</option>
                                        <option>Sala obserwacyjna 10</option>
                                        <option>Izolatka Z1</option>
                                        <option>Izolatka Z2</option>
                                        <option>Izolatka Z3</option>
                                        <option>Dekontaminacja</option>
                                    </select>
                                    <span asp-validation-for="Room" class="text-danger"></span>
                                </div>
                                <br />

                                <select class="form-select" id="ToWhomThePatient" name="ToWhomThePatient">
                                    <option>@Model.ToWhomThePatient</option>
                                    <option>INTERNISTA</option>
                                    <option>CHIRURG</option>
                                </select>
                                <br />

                                <select class="form-select" id="Color" name="Color">
                                    <option value="@Model.Color" style="background-color:@Model.Color">Czy zmienić kolor?</option>
                                    <option value="lightskyblue" style="background-color:lightskyblue">Niebieski</option>
                                    <option value="lightgreen" style="background-color:lightgreen">Zielony</option>
                                    <option value="yellow" style="background-color:yellow">Żółty</option>
                                    <option value="orange" style="background-color:orange">Pomarańczowy</option>
                                    <option value="red" style="background-color:red">Czerwony</option>
                                </select>
                                <br />


                                <div class="form-group">
                                    <select class="form-select" id="Doctor" name="Doctor">
                                        <option>@Model.Doctor</option>
                                        <option>Avdieiev Anton</option>
                                        <option>Betkowiak Zuzanna</option>
                                        <option>Binaś Marcin</option>
                                        <option>Chrzanowski Monica</option>
                                        <option>Czekała-Karpiński Dawid</option>
                                        <option>Dabryneuski Uladzimir</option>
                                        <option>Domin Remigiusz</option>
                                        <option>Elantkowski Łukasz</option>
                                        <option>Fritzkiewicz Witold</option>
                                        <option>Gąsiorowski Mateusz</option>
                                        <option>Gilier Kamila</option>
                                        <option>Grymuza Maciej</option>
                                        <option>Guliński Marcin</option>
                                        <option>Huzenko Jaroslaw</option>
                                        <option>Junewicz</option>
                                        <option>Kłaczyński Mateusz</option>
                                        <option>Knasiecka Magdalena</option>
                                        <option>Kochman Karol</option>
                                        <option>Kohan Anastasiia</option>
                                        <option>Kosharna Anna</option>
                                        <option>Lesiak Karol</option>
                                        <option>Łuczak Agnieszka</option>
                                        <option>Makowska Agata</option>
                                        <option>Malik Arkadiusz</option>
                                        <option>Małkiewicz Tomasz</option>
                                        <option>Miroshnichenko Yurii</option>
                                        <option>Nowak Michał</option>
                                        <option>Pankiewicz Mateusz</option>
                                        <option>Paszkowiak-Ciesielska Hanna</option>
                                        <option>Pisula Piotr</option>
                                        <option>Polupanov Yevhen</option>
                                        <option>Potyka Marek</option>
                                        <option>Razumka Krystyna</option>
                                        <option>Rojna Maciej</option>
                                        <option>Sesiuk Aleksandra</option>
                                        <option>Skrzypek Dariusz</option>
                                        <option>Śliwowski Cezary</option>
                                        <option>Śmidrowicz Bartosz</option>
                                        <option>Wierzchowiecki Jerzy</option>
                                        <option>Woźny Tomasz</option>
                                        <option>Yakymchuk Yuri</option>
                                        <option>Zanko Semen</option>
                                        <option>Zhdanov Sergii</option>
                                    </select>
                                    <span asp-validation-for="Doctor" class="text-danger"></span>
                                </div>
                                <br />

                            </div>
                        </div>
                        <hr />
                        <br />


                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btn-danger">ZAPISZ ZMIANY</button>
                            </div>
                            <div class="col-4">
                                <a href="@Url.Action("GeneratePatientDocument","Documentation", new { Id = Model.Id })"
                                   class="btn btn-secondary">
                                    DRUKUJ DOKUMENTY
                                </a>
                            </div>
                            <div class="col-4">
                                <button asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-primary">POWRÓT DO LISTY</button>
                            </div>
                        </div>

                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel" rows="10">
                                        @Model.ObserwacjeRatPiel</textarea>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
