@model triage_hcp.Models.Pacjent
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Przypisz lekarza!";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool PeselCorrect(string? pesel)
    {
        if (pesel == null || pesel == "") return false;
        if (pesel.Length != 11) return false;

        int[] weights = { 1, 3, 7, 9, 1, 3, 7, 9, 1, 3, 1 };

        int total = 0;
        for (int i = 0; i < 11; i++)
        {
            int r = (int)(pesel[i] - '0');
            if (r < 0 || r > 9) return false;
            total += weights[i] * r;
        }

        if (total % 10 == 0) return true;
        else return false;
    }


    string PrintGender(string pesel)
    {
        if (PeselCorrect(pesel) == false) return "Nie określono płci, ";

        int controlNumber = int.Parse(pesel.Substring(9, 1));
        if (controlNumber == 1 || controlNumber == 3 || controlNumber == 5 ||
            controlNumber == 7 || controlNumber == 9)
        {
            return "Mężczyzna, ";
        }
        else return "Kobieta, ";
    }


    string PrintAge(string pesel)
    {
        DateTime YearNow = DateTime.Today;

        if (PeselCorrect(pesel) == false) return "00 ";

        int Year = YearNow.Year;

        int PeselParse = int.Parse(pesel.Substring(0, 2));
        int PatientAge = Year - 1900 - PeselParse;
        string PrintAge = PatientAge.ToString();

        return PrintAge;
    }
}

<div class="container">
    <div class="row">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div style="display:none">

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@Model.DateTime</option>
                </select>
                <span asp-validation-for="DateTime" class="text-danger"></span>

                <select class="form-control" id="TriageDate" name="TriageDate">
                    <option>@Model.TriageDate</option>
                </select>

                <select class="form-control" id="Name" name="Name">
                    <option>@Model.Name</option>
                </select>

                <select class="form-control" id="Surname" name="Surname">
                    <option>@Model.Surname</option>
                </select>

                <select class="form-control" id="Pesel" name="Pesel">
                    <option>@Model.Pesel</option>
                </select>

                <select class="form-control" id="Age" name="Age">
                    <option>@Model.Age</option>
                </select>

                <select class="form-control" id="Gender" name="Gender">
                    <option>@Model.Gender</option>
                </select>

                <select class="form-control" id="Diagnosis" name="Diagnosis">
                    <option>@Model.Diagnosis</option>
                </select>

                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                    <option>@Model.CoDalejZPacjentem</option>
                </select>

                <select class="form-control" id="Active" name="Active">
                    <option>@Model.Active</option>
                </select>

            </div>


            <div class="border shadow p-3 mb-5 bg-white rounded" style="padding: 30px; margin:20px; background-color: white">

                <div class="text-center" style="padding: 20px; margin-bottom: 20px; background-color: @Model.Color">
                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <a href="~/docs/karta_wit.pdf" target="_blank" class="text-center" style="text-decoration:none">
                                    <div class="btn-primary" style="border-radius: 3px; padding: 3px; max-width: 150px; font-size: 16px">
                                        DRUKUJ DOKUMENTY
                                    </div>
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="row animation">
                                    <div class="col-6">
                                        <h2>@Model.Name?.ToUpper() @Model.Surname?.ToUpper()</h2>
                                        @if (PeselCorrect(Model.Pesel))
                                        {
                                            if (Model.Pesel is not null)
                                            {
                                                <h5>@PrintGender(Model.Pesel) @PrintAge(Model.Pesel) lat</h5>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.Gender is null | Model.Age is null)
                                            {
                                                if (Model.Pesel is not null)
                                                {
                                                    <h5>@PrintGender(Model.Pesel) @PrintAge(Model.Pesel)</h5>
                                                }
                                            }
                                            else
                                            {
                                                <h5>@Model.Gender @Model.Age lat</h5>
                                            }
                                        }
                                        <h5>PESEL: @Model.Pesel</h5>
                                    </div>
                                    <div class="col-6">
                                        <h1>@Model.DateTime.ToString("t")</h1>
                                        <h4>@Model.DateTime.ToString("D")</h4>
                                        <h4>wybierz lekarza!</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <a href="@Url.Action("EditPatientData","Edit", new { Id = Model.Id })"
                                   class="text-center" style="text-decoration:none">
                                    <div class="button btn-danger" style="border-radius: 3px; padding: 3px; max-width: 150px; font-size: 16px">
                                        EDYTUJ DANE PACJENTA
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-center">
                        <div class="row">
                            <div class="col-3">
                                <br />
                                <p>Lokalizacja: </p>
                                <br />
                                <p>Do kogo pacjent:</p>
                                <br />
                                <p>Kolor:</p>
                                <br />
                                <div class="animation">
                                    <p><b>Wybierz lekarza!</b></p>
                                </div>
                            </div>

                            <div class="col-6">
                                <br />
                                <div class="form-group">
                                    <select class="form-select" id="Room" name="Room">
                                        <option>@Model.Room</option>
                                        <option>Poczekalnia</option>
                                        <option>Korytarz</option>
                                        <option>Wituś</option>
                                        <option>Wituś 1</option>
                                        <option>Wituś 2</option>
                                        <option>Wituś 3</option>
                                        <option>WIT</option>
                                        <option>WIT 1</option>
                                        <option>WIT 2</option>
                                        <option>WIT 3</option>
                                        <option>WIT 4</option>
                                        <option>Sala obserwacyjna 5</option>
                                        <option>Sala obserwacyjna 6</option>
                                        <option>Sala obserwacyjna 7</option>
                                        <option>Sala obserwacyjna 8</option>
                                        <option>Sala obserwacyjna 9</option>
                                        <option>Sala obserwacyjna 10</option>
                                        <option>Izolatka Z1</option>
                                        <option>Izolatka Z2</option>
                                        <option>Izolatka Z3</option>
                                        <option>Dekontaminacja</option>
                                    </select>
                                    <span asp-validation-for="Room" class="text-danger"></span>
                                </div>
                                <br />

                                <select class="form-select" id="ToWhomThePatient" name="ToWhomThePatient">
                                    <option>@Model.ToWhomThePatient</option>
                                    <option>INTERNISTA</option>
                                    <option>CHIRURG</option>
                                </select>
                                <br />

                                <select class="form-select" id="Color" name="Color">
                                    <option value="@Model.Color" style="background-color:@Model.Color">Czy zmienić kolor?</option>
                                    <option value="lightskyblue" style="background-color:lightskyblue">Niebieski</option>
                                    <option value="lightgreen" style="background-color:lightgreen">Zielony</option>
                                    <option value="yellow" style="background-color:yellow">Żółty</option>
                                    <option value="orange" style="background-color:orange">Pomarańczowy</option>
                                    <option value="red" style="background-color:red">Czerwony</option>
                                </select>
                                <br />


                                <div class="form-group">
                                    <select class="form-select" id="Doctor" name="Doctor">
                                        <option>@Model.Doctor</option>
                                        <option>Avdieiev Anton</option>
                                        <option>Betkowiak Zuzanna</option>
                                        <option>Binaś Marcin</option>
                                        <option>Chrzanowski Monica</option>
                                        <option>Czekała-Karpiński Dawid</option>
                                        <option>Dabryneuski Uladzimir</option>
                                        <option>Fritzkiewicz Witold</option>
                                        <option>Gąsiorowski Mateusz</option>
                                        <option>Gilier Kamila</option>
                                        <option>Grymuza Maciej</option>
                                        <option>Huzenko Jaroslaw</option>
                                        <option>Junewicz</option>
                                        <option>Kłaczyński Mateusz</option>
                                        <option>Kohan Anastasiia</option>
                                        <option>Łuczak Agnieszka</option>
                                        <option>Makowska Agata</option>
                                        <option>Małkiewicz Tomasz</option>
                                        <option>Miroshnichenko Yurii</option>
                                        <option>Nowak Michał</option>
                                        <option>Pankiewicz Mateusz</option>
                                        <option>Paszkowiak-Ciesielska Hanna</option>
                                        <option>Pisula Piotr</option>
                                        <option>Polupanov Yevhen</option>
                                        <option>Potyka Marek</option>
                                        <option>Razumka</option>
                                        <option>Rojna Maciej</option>
                                        <option>Skrzypek Dariusz</option>
                                        <option>Śliwowski Cezary</option>
                                        <option>Śmidrowicz Bartosz</option>
                                        <option>Wierzchowiecki Jerzy</option>
                                        <option>Woźny Tomasz</option>
                                        <option>Yakymchuk</option>
                                        <option>Zanko Semen</option>
                                        <option>Zhdanov Sergii</option>
                                    </select>
                                    <span asp-validation-for="Doctor" class="text-danger"></span>
                                </div>
                                <br />

                            </div>
                        </div>
                        <hr />
                        <br />


                        <div class="row">
                            <div class="col-5">
                                <button type="submit" class="btn btn-danger">ZAPISZ ZMIANY</button>
                            </div>
                            <div class="col-5">
                                <button asp-controller="Pacjent" asp-action="List" class="btn btn-primary">POWRÓT DO LISTY</button>
                            </div>
                        </div>

                        
                    </div>


                    <div class="col-6">
                        <div class="border" style="padding: 20px; margin-left:40px; background-color: @Model.Color">
                            <div style="background-color:white; padding: 10px 10px 40px 10px">
                                <h5 class="text-center">OPIS TRIAGE</h5>
                                <div class="container border" style="min-height: 100px; padding-bottom: 10px; margin-bottom: 50px">
                                    <br />
                                    <h4>@Model.Diagnosis?.ToUpper()</h4>
                                </div>

                                <h5>Obserwacje ratowniczo pielęgniarskie</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel" rows="8">
                                        @Model.ObserwacjeRatPiel</textarea>
                                    <span asp-validation-for="ObserwacjeRatPiel" class="text-danger"></span>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
