@model IEnumerable<triage_hcp.Models.Pacjent>
@{
    ViewData["Title"] = "Lista administratora";
}

<h3>Usuwanie wpisów z bazy danych</h3>
<br />

<div class="container border" style="padding: 20px">
    @foreach (var pacjent in Model)
    {
        <ol>
            <li>
                <div class="row">
                    <div class="col-4">
                        <b>@pacjent.DateTime</b> - @pacjent.Name @pacjent.Surname || sala: @pacjent.Room
                    </div>
                    <div class="col-1">
                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })">Opis</a>
                    </div>
                    <div class="col-1">
                        @using (Html.BeginForm("Delete", "Triage", FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@pacjent.Id" /> <button type="submit" class="btn btn-danger">Usuń</button>

                        }
                    </div>
                    <br />
                </div>

            </li>
        </ol>
    }
</div>
