@model IEnumerable<triage_hcp.Models.Pacjent>
@{
    ViewData["Title"] = "Lista administrator";
}

<h1>Lista pacjentów - wersja administratora</h1>

<ol>
    @foreach (var pacjent in Model)
    {
        <li>
            @pacjent.Name @pacjent.Surname || Id: @pacjent.Id
            <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })">Epikryza</a>
            @using (Html.BeginForm("Delete", "Triage", FormMethod.Post))
            {
                <input type="hidden" name="Id" value="@pacjent.Id" />
                <button type="submit">Usuń</button>
            }
            <br />
        </li>
    }
</ol>
