@model triage_hcp.Models.Pacjent

@{
    ViewData["Title"] = "Triage";
}

<div class="triage">
    <div class="forms">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">TRIAGE</h2>
            @using (Html.BeginForm("Triage", "Triage", FormMethod.Post))
            {
                @Html.ValidationSummary()

                <h5>Imię: </h5>
                @Html.TextBoxFor(x => x.Name)
                <br />
                <br />

                <h5>Nazwisko: </h5>
                @Html.TextBoxFor(x => x.Surname)
                <br />
                <br />

                <h5>PESEL: </h5>
                @Html.TextBoxFor(x => x.Pesel)
                <br />
                <br />

                <h5>Wiek: </h5>
                @Html.TextBoxFor(x => x.Age)
                <br />
                <br />

                <h5>Objawy: </h5>
                @Html.TextAreaFor(x => x.Diagnosis)
                <br />
                <br />

                <h5>Płeć:</h5>
                <select class="form-control" id="Gender" name="Gender">
                    <option>Kobieta</option>
                    <option>Mężczyzna</option>
                </select>
                <br />

                <h5>Lokalizacja w SOR:</h5>
                <select class="form-control" id="Room" name="Room">
                    <option>Poczekalnia</option>
                    <option>Korytarz</option>
                    <option>Wituś</option>
                    <option>Wituś 1</option>
                    <option>Wituś 2</option>
                    <option>Wituś 3</option>
                    <option>WIT</option>
                    <option>WIT 1</option>
                    <option>WIT 2</option>
                    <option>WIT 3</option>
                    <option>WIT 4</option>
                    <option>Sala obserwacyjna 5</option>
                    <option>Sala obserwacyjna 6</option>
                    <option>Sala obserwacyjna 7</option>
                    <option>Sala obserwacyjna 8</option>
                    <option>Sala obserwacyjna 9</option>
                    <option>Sala obserwacyjna 10</option>
                    <option>Izolatka Z1</option>
                    <option>Izolatka Z2</option>
                    <option>Izolatka Z3</option>
                    <option>Dekontaminacja</option>

                </select>
                <br />

                <h5>Kolor:</h5>
                <select class="form-control" id="Color" name="Color">
                    <option>Green</option>
                    <option>Yellow</option>
                    <option>Orange</option>
                    <option>Red</option>
                    <option>Blue</option>
                </select>
                <br />


                DateTime czas = DateTime.Now;

                <select class="form-control" id="DateTime" name="DateTime">
                    <option>@czas</option>
                </select>
                <br />

                <div style="display: none">
                    <select class="form-control" id="Doctor" name="Doctor">
                        <option>Nie</option>
                    </select>

                    <select class="form-control" id="Active" name="Active">
                        <option>Tak</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">ZATWIERDŹ</button>
            }
        </div>
    </div>
</div>
