@model IEnumerable<triage_hcp.Models.Patient>

@foreach (var patient in Model.
               Where(x => x.IsActive == true &
               (x.DoctorId == null)).
               OrderBy(x => x.Color == "red").
               OrderBy(x => x.Color == "orange").
               OrderBy(x => x.Color == "yellow").
               OrderBy(x => x.Color == "lightgreen").
               OrderBy(x => x.Color == "lightskyblue"))
{

    <div class="patient" style="background-color: @patient.Color">
        <div class="row">
            <div class="col-10">
                <a href="@Url.Action("WithoutDoctor","Details", new { Id = patient.PatientId })"
                   style="text-decoration:none; color:black">
                    <div class="row">
                        <div class="col-4">

                            @if (patient.Color == "red")
                            {
                                @if (patient.WaitingTime > 1)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                        </span>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                    </h5>
                                }
                            }

                            @if (patient.Color == "orange")
                            {
                                @if (patient.WaitingTime > 10)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                        </span>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                    </h5>
                                }
                            }

                            @if (patient.Color == "yellow")
                            {
                                @if (patient.WaitingTime > 60)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                        </span>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                    </h5>
                                }
                            }

                            @if (patient.Color == "lightgreen")
                            {
                                @if (patient.WaitingTime > 120)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                        </span>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                    </h5>
                                }
                            }

                            @if (patient.Color == "lightskyblue")
                            {
                                @if (patient.WaitingTime > 240)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                        </span>
                                    </h5>

                                }
                                else
                                {
                                    <h5>
                                        @patient.Surname?.ToUpper() @patient.Name?.ToUpper()
                                    </h5>
                                }
                            }

                            <p>@patient.Gender @patient.Age lat</p>
                            <p>PESEL: <b>@patient.Pesel</b></p>
                        </div>


                        <div class="col-5">
                            <p><b>@patient.Symptoms?.ToUpper()</b></p>

                            @if (patient.Color == "red")
                            {
                                @if (patient.WaitingTime > 1)
                                {
                                    <p>
                                        <span class="animation">
                                            Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                    </p>
                                }
                            }

                            @if (patient.Color == "orange")
                            {
                                @if (patient.WaitingTime > 10)
                                {
                                    <p>
                                        <span class="animation">
                                            Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                    </p>
                                }
                            }

                            @if (patient.Color == "yellow")
                            {
                                @if (patient.WaitingTime > 60)
                                {
                                    <p>
                                        <span class="animation">
                                            Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                    </p>
                                }
                            }

                            @if (patient.Color == "lightgreen")
                            {
                                @if (patient.WaitingTime > 120)
                                {
                                    <p>
                                        <span class="animation">
                                            Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                    </p>
                                }
                            }

                            @if (patient.Color == "lightskyblue")
                            {
                                @if (patient.WaitingTime > 240)
                                {
                                    <p>
                                        <span class="animation">
                                            Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                        </span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Czas oczekiwania na lekarza: <b>@patient.WaitingTime</b> minut
                                    </p>
                                }
                            }

                        </div>


                        <div class="col-3">
                            @if (patient.Color == "red")
                            {
                                @if (patient.WaitingTime > 1)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.StartTime.ToString("g")
                                        </span>
                                    </h5>
                                    <span class="animation">
                                        do kogo: <b>@patient.ToWhomThePatient</b>
                                    </span>
                                    <br />
                                    <br />
                                }
                                else
                                {
                                    <h5>@patient.StartTime.ToString("g")</h5>
                                    <p>do kogo: <b>@patient.ToWhomThePatient</b></p>
                                }
                            }

                            @if (patient.Color == "orange")
                            {
                                @if (patient.WaitingTime > 10)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.StartTime.ToString("g")
                                        </span>
                                    </h5>
                                    <span class="animation">
                                        do kogo: <b>@patient.ToWhomThePatient</b>
                                    </span>
                                    <br />
                                    <br />
                                }
                                else
                                {
                                    <h5>@patient.StartTime.ToString("g")</h5>
                                    <p>do kogo: <b>@patient.ToWhomThePatient</b></p>
                                }
                            }

                            @if (patient.Color == "yellow")
                            {
                                @if (patient.WaitingTime > 60)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.StartTime.ToString("g")
                                        </span>
                                    </h5>
                                    <span class="animation">
                                        do kogo: <b>@patient.ToWhomThePatient</b>
                                    </span>
                                    <br />
                                    <br />
                                }
                                else
                                {
                                    <h5>@patient.StartTime.ToString("g")</h5>
                                    <p>do kogo: <b>@patient.ToWhomThePatient</b></p>
                                }
                            }

                            @if (patient.Color == "lightgreen")
                            {
                                @if (patient.WaitingTime > 120)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.StartTime.ToString("g")
                                        </span>
                                    </h5>
                                    <span class="animation">
                                        do kogo: <b>@patient.ToWhomThePatient</b>
                                    </span>
                                    <br />
                                    <br />
                                }
                                else
                                {
                                    <h5>@patient.StartTime.ToString("g")</h5>
                                    <p>do kogo: <b>@patient.ToWhomThePatient</b></p>
                                }
                            }

                            @if (patient.Color == "lightskyblue")
                            {
                                @if (patient.WaitingTime > 240)
                                {
                                    <h5>
                                        <span class="animation">
                                            @patient.StartTime.ToString("g")
                                        </span>
                                    </h5>
                                    <span class="animation">
                                        do kogo: <b>@patient.ToWhomThePatient</b>
                                    </span>
                                    <br />
                                    <br />
                                }
                                else
                                {
                                    <h5>@patient.StartTime.ToString("g")</h5>
                                    <p>do kogo: <b>@patient.ToWhomThePatient</b></p>
                                }
                            }

                            <p>Lokalizacja: <b>@patient?.Location?.LocationName</b></p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-2 pt-4">
                @using (Html.BeginForm("Update", "Details", FormMethod.Post))
                {
                    <input type="hidden" name="PatientId" value="@patient.PatientId" />

                    <div style="display:none">

                        <select class="form-control" id="StartTime" name="StartTime">
                            <option>@patient?.StartTime</option>
                        </select>

                        <select class="form-control" id="Name" name="Name">
                            <option>@patient.Name?.ToUpper()</option>
                        </select>

                        <select class="form-control" id="Surname" name="Surname">
                            <option>@patient.Surname?.ToUpper()</option>
                        </select>

                        <select class="form-control" id="Pesel" name="Pesel">
                            <option>@patient.Pesel</option>
                        </select>

                        <select class="form-control" id="Age" name="Age">
                            <option>@patient.Age</option>
                        </select>

                        <select class="form-control" id="Gender" name="Gender">
                            <option>@patient.Gender</option>
                        </select>

                        <select class="form-control" id="Symptoms" name="Symptoms">
                            <option>@patient.Symptoms?.ToUpper()</option>
                        </select>

                        <select class="form-control" id="LocationId" name="LocationId">
                            <option>@patient.LocationId</option>
                        </select>

                        <select class="form-control" id="Color" name="Color">
                            <option>@patient.Color</option>
                        </select>

                        <select class="form-control" id="WhatNext" name="WhatNext">
                            <option>@patient.WhatNext</option>
                        </select>

                        <select class="form-control" id="Remarks" name="Remarks">
                            <option>@patient.Remarks</option>
                        </select>

                        <select class="form-control" id="IsActive" name="IsActive">
                            <option>@patient.IsActive</option>
                        </select>

                        <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                            <option>@patient.ToWhomThePatient</option>
                        </select>

                        <select class="form-control" id="SBP" name="SBP">
                            <option>@patient.SBP</option>
                        </select>

                        <select class="form-control" id="DBP" name="DBP">
                            <option>@patient.DBP</option>
                        </select>

                        <select class="form-control" id="HeartRate" name="HeartRate">
                            <option>@patient.HeartRate</option>
                        </select>

                        <select class="form-control" id="Spo2" name="Spo2">
                            <option>@patient.Spo2</option>
                        </select>

                        <select class="form-control" id="GCS" name="GCS">
                            <option>@patient.GCS</option>
                        </select>

                        <select class="form-control" id="BodyTemperature" name="BodyTemperature">
                            <option>@patient.BodyTemperature</option>
                        </select>

                    </div>

                    <select name="DoctorId" id="DoctorId" asp-items="@ViewData["Doctors"] as SelectList"
                            class="form-select" style="font-size: 16px" onchange="this.form.submit()">
                        <option value="">Wybierz lekarza...</option>
                    </select>
                }
            </div>
        </div>
    </div>
}