@model IEnumerable<triage_hcp.Models.Pacjent>

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Zakończono";
}

<div class="container">
    <div class="border shadow p-3 mb-5 bg-white rounded" style="max-width: 600px">
        <a href="~/Pacjent/ViewAllCompleted/" class="text-center" style="text-decoration:none">
            <div class="btn-primary" style="border-radius: 3px; padding: 3px">
                LISTA ZAKOŃCZONYCH Z POPRZEDNICH DYŻURÓW
            </div>
        </a>
    </div>

    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded" style="max-width: 1200px">
            <h5 class="text-center">Pacjenci z dzisiejszego dyżuru, z zakończoną obsługą w SOR</h5>
            <br />
            @foreach (var pacjent in Model
            .Where(x => x.DateTime > DateTime.Today)
            .OrderByDescending(x => x.DateTime))
            {
                if (!(pacjent.Active == "Tak"))
                {
                    <div class="pacjent" style="background-color: @pacjent.Color; max-width: 1200px">
                        <a href="@Url.Action("Done","Edit", new { Id = pacjent.Id })"
                           style="text-decoration:none; color:black">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                        <p><b>@pacjent.DateTime.ToString("g")</b></p>
                                    </div>
                                    <div class="col-2">
                                        <b>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</b>
                                    </div>
                                    <div class="col-2">
                                        <b>@pacjent.Pesel</b>
                                    </div>
                                    <div class="col-3">
                                        <b>@pacjent.Diagnosis</b>
                                    </div>
                                    <div class="col-2">
                                        lek. prowadzący: <b>@pacjent.Doctor</b>
                                    </div>
                                    <div class="col-2">
                                        <b> @pacjent.CoDalejZPacjentem</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>