@model IEnumerable<triage_hcp.Models.Pacjent>


@{
    ViewData["Title"] = "Lista";
}


<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="border shadow p-3 mb-5 bg-white rounded">
                <div>
                    <h5>Pacjenci bez przypisanego lekarza:</h5>
                    @foreach (var pacjent in Model)
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper() || - - - przypisz lekarza!</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p> pesel: <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat || sala: <b>@pacjent.Room</b></p>

                                                @if (pacjent.DateTime < DateTime.Now)
                                                {
                                                    <div class="animation">
                                                        <h5>@pacjent.DateTime</h5>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h5>@pacjent.DateTime</h5>
                                                }
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>Wybierz lekarza</option>
                                            <option>Leswał Lenartowicz</option>
                                            <option>Yuri</option>
                                            <option>Anton</option>
                                            <option>Monika</option>
                                            <option>Agata</option>
                                            <option>Marek</option>
                                            <option>Lekarz G</option>
                                            <option>Lekarz H</option>
                                            <option>Lekarz I</option>
                                            <option>Lekarz J</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <br />
                </div>

                <div>
                    <h5>Pacjenci z przypisanym lekarzem:</h5>
                    @foreach (var pacjent in Model)
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper() || - @pacjent.DateTime</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p> pesel: <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat || sala: <b>@pacjent.Room</b></p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                            <option>Leswał Lenartowicz</option>
                                            <option>Yuri</option>
                                            <option>Anton</option>
                                            <option>Monika</option>
                                            <option>Agata</option>
                                            <option>Marek</option>
                                            <option>Lekarz G</option>
                                            <option>Lekarz H</option>
                                            <option>Lekarz I</option>
                                            <option>Lekarz J</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <br />
                </div>

                <div>
                    <h5>Pacjenci z zakończoną obsługą w SOR:</h5>
                    @foreach (var pacjent in Model)
                    {
                        if (!(pacjent.Active == "Tak"))
                        {
                            <div class="pacjent" style="background-color: @pacjent.Color">
                                <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                   style="text-decoration:none; color:black">
                                    <h6>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper() || zakończono</h6>
                                    <p>@pacjent.Diagnosis</p>
                                    <p>@pacjent.Gender @pacjent.Age lat || pesel: <b>@pacjent.Pesel</b> || sala: <b>@pacjent.Room</b></p>
                                </a>
                            </div>
                        }
                    }
                    <br />
                </div>
            </div>
        </div>


        <div class="col-4" style="max-width: 400px">
            <div class="border shadow p-3 mb-5 bg-white rounded">
                <h5 class="text-center">Wituś</h5>
                <br />

                <div id="Wituś 1">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>R1</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś 2">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>R2</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś 3">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>R3</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś Rk1">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p><b>R</b></p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">WIT</h5>
                <br />

                <div id="WIT 1">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>W1</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 2">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>W2</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 3">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>W3</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 4">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>W4</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 4" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 4,5">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p><b>W</b></p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Sala obserwacyjna 1</h5>
                <br />

                <div id="Sala obserwacyjna 5">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O5</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 5" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 6">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O6</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 6" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 7">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O7</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 7" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Sala obserwacyjna 2</h5>
                <br />

                <div id="Sala obserwacyjna 8">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O8</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 8" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 9">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O9</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 9" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 10">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>O10</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 10" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Izolatki</h5>
                <br />

                <div id="Izolatka Z1">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>Z1</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Izolatka Z2">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>Z2</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Izolatka Z3">
                    <div class="row">
                        <div class="col-4">
                            <div class="nr_lozka">
                                <p>Z3</p>
                            </div>
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Poczekalnia</h5>
                <br />

                <div id="Poczekalnia">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Poczekalnia" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Korytarz</h5>
                <br />

                <div id="Korytarz">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Korytarz" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Dekontaminacja</h5>
                <br />

                <div id="Dekontaminacja">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-7">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Dekontaminacja" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Triage", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</p>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
