@model IEnumerable<triage_hcp.Models.Pacjent>


@{
    ViewData["Title"] = "Lista";
}



<div class="container">
    <div class="row">
        <div class="col-8">
            <div>
                <div class="border shadow p-3 mb-5 bg-white rounded">
                    <h5>Pacjenci bez przypisanego lekarza:</h5>
                    @foreach (var pacjent in Model.Where(x => x.Color == "red"))
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjentBez" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("WithoutDoctor","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>
                                                    <span class="animation">
                                                        @pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() ||
                                                        @pacjent.DateTime.ToString("f")
                                                    </span>
                                                </h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-4" style="padding-top: 30px">

                                        @using (Html.BeginForm("Details", "Edit", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@pacjent.Id" />

                                            <div style="display:none">

                                                <select class="form-control" id="DateTime" name="DateTime">
                                                    <option>@pacjent.DateTime</option>
                                                </select>

                                                <select class="form-control" id="TriageDate" name="TriageDate">
                                                    <option>@pacjent.TriageDate</option>
                                                </select>
                                                <br />

                                                <select class="form-control" id="Name" name="Name">
                                                    <option>@pacjent.Name</option>
                                                </select>

                                                <select class="form-control" id="Surname" name="Surname">
                                                    <option>@pacjent.Surname</option>
                                                </select>

                                                <select class="form-control" id="Pesel" name="Pesel">
                                                    <option>@pacjent.Pesel</option>
                                                </select>

                                                <select class="form-control" id="Age" name="Age">
                                                    <option>@pacjent.Age</option>
                                                </select>

                                                <select class="form-control" id="Gender" name="Gender">
                                                    <option>@pacjent.Gender</option>
                                                </select>

                                                <select class="form-control" id="Diagnosis" name="Diagnosis">
                                                    <option>@pacjent.Diagnosis</option>
                                                </select>

                                                <select class="form-control" id="Room" name="Room">
                                                    <option>@pacjent.Room</option>
                                                </select>

                                                <select class="form-control" id="Color" name="Color">
                                                    <option>@pacjent.Color</option>
                                                </select>

                                                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                                                    <option>@pacjent.CoDalejZPacjentem</option>
                                                </select>

                                                <select class="form-control" id="Epikryza" name="Epikryza">
                                                    <option>@pacjent.Epikryza</option>
                                                </select>

                                                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                                                    <option>@pacjent.ObserwacjeRatPiel</option>
                                                </select>

                                                <select class="form-control" id="Active" name="Active">
                                                    <option>@pacjent.Active</option>
                                                </select>

                                                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                                                    <option>@pacjent.ToWhomThePatient</option>
                                                </select>

                                            </div>

                                            <select class="form-control" id="Doctor" name="Doctor">
                                                <option>@pacjent.Doctor</option>
                                                <option>Avdieiev Anton</option>
                                                <option>Betkowiak Zuzanna</option>
                                                <option>Binaś Marcin</option>
                                                <option>Chrzanowski Monica</option>
                                                <option>Czekała-Karpiński Dawid</option>
                                                <option>Dabryneuski Uladzimir</option>
                                                <option>Fritzkiewicz Witold</option>
                                                <option>Gąsiorowski Mateusz</option>
                                                <option>Gilier Kamila</option>
                                                <option>Grymuza Maciej</option>
                                                <option>Huzenko Jaroslaw</option>
                                                <option>Junewicz</option>
                                                <option>Kłaczyński Mateusz</option>
                                                <option>Łuczak Agnieszka</option>
                                                <option>Makowska Agata</option>
                                                <option>Małkiewicz Tomasz</option>
                                                <option>Miroshnichenko Yurii</option>
                                                <option>Nowak Michał</option>
                                                <option>Pankiewicz Mateusz</option>
                                                <option>Paszkowiak-Ciesielska Hanna</option>
                                                <option>Pisula Piotr</option>
                                                <option>Polupanov Yevhen</option>
                                                <option>Potyka Marek</option>
                                                <option>Razumka</option>
                                                <option>Rojna Maciej</option>
                                                <option>Skrzypek Dariusz</option>
                                                <option>Śliwowski Cezary</option>
                                                <option>Śmidrowicz Bartosz</option>
                                                <option>Wierzchowiecki Jerzy</option>
                                                <option>Woźny Tomasz</option>
                                                <option>Yakymchuk</option>
                                                <option>Zanko Semen</option>
                                                <option>Zhdanov Sergii</option>
                                            </select>
                                            <br />

                                            <div>
                                                <button type="submit" class="btn btn-primary" style="margin-left: 20%">ZATWIERDŹ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "orange"))
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjentBez" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("WithoutDoctor","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>
                                                    <span class="animation">
                                                        @pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() ||
                                                        @pacjent.DateTime.ToString("f")
                                                    </span>
                                                </h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-4" style="padding-top: 30px">

                                        @using (Html.BeginForm("Details", "Edit", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@pacjent.Id" />

                                            <div style="display:none">

                                                <select class="form-control" id="DateTime" name="DateTime">
                                                    <option>@pacjent.DateTime</option>
                                                </select>

                                                <select class="form-control" id="TriageDate" name="TriageDate">
                                                    <option>@pacjent.TriageDate</option>
                                                </select>
                                                <br />

                                                <select class="form-control" id="Name" name="Name">
                                                    <option>@pacjent.Name</option>
                                                </select>

                                                <select class="form-control" id="Surname" name="Surname">
                                                    <option>@pacjent.Surname</option>
                                                </select>

                                                <select class="form-control" id="Pesel" name="Pesel">
                                                    <option>@pacjent.Pesel</option>
                                                </select>

                                                <select class="form-control" id="Age" name="Age">
                                                    <option>@pacjent.Age</option>
                                                </select>

                                                <select class="form-control" id="Gender" name="Gender">
                                                    <option>@pacjent.Gender</option>
                                                </select>

                                                <select class="form-control" id="Diagnosis" name="Diagnosis">
                                                    <option>@pacjent.Diagnosis</option>
                                                </select>

                                                <select class="form-control" id="Room" name="Room">
                                                    <option>@pacjent.Room</option>
                                                </select>

                                                <select class="form-control" id="Color" name="Color">
                                                    <option>@pacjent.Color</option>
                                                </select>

                                                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                                                    <option>@pacjent.CoDalejZPacjentem</option>
                                                </select>

                                                <select class="form-control" id="Epikryza" name="Epikryza">
                                                    <option>@pacjent.Epikryza</option>
                                                </select>

                                                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                                                    <option>@pacjent.ObserwacjeRatPiel</option>
                                                </select>

                                                <select class="form-control" id="Active" name="Active">
                                                    <option>@pacjent.Active</option>
                                                </select>

                                                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                                                    <option>@pacjent.ToWhomThePatient</option>
                                                </select>

                                            </div>

                                            <select class="form-control" id="Doctor" name="Doctor">
                                                <option>@pacjent.Doctor</option>
                                                <option>Avdieiev Anton</option>
                                                <option>Betkowiak Zuzanna</option>
                                                <option>Binaś Marcin</option>
                                                <option>Chrzanowski Monica</option>
                                                <option>Czekała-Karpiński Dawid</option>
                                                <option>Dabryneuski Uladzimir</option>
                                                <option>Fritzkiewicz Witold</option>
                                                <option>Gąsiorowski Mateusz</option>
                                                <option>Gilier Kamila</option>
                                                <option>Grymuza Maciej</option>
                                                <option>Huzenko Jaroslaw</option>
                                                <option>Junewicz</option>
                                                <option>Kłaczyński Mateusz</option>
                                                <option>Łuczak Agnieszka</option>
                                                <option>Makowska Agata</option>
                                                <option>Małkiewicz Tomasz</option>
                                                <option>Miroshnichenko Yurii</option>
                                                <option>Nowak Michał</option>
                                                <option>Pankiewicz Mateusz</option>
                                                <option>Paszkowiak-Ciesielska Hanna</option>
                                                <option>Pisula Piotr</option>
                                                <option>Polupanov Yevhen</option>
                                                <option>Potyka Marek</option>
                                                <option>Razumka</option>
                                                <option>Rojna Maciej</option>
                                                <option>Skrzypek Dariusz</option>
                                                <option>Śliwowski Cezary</option>
                                                <option>Śmidrowicz Bartosz</option>
                                                <option>Wierzchowiecki Jerzy</option>
                                                <option>Woźny Tomasz</option>
                                                <option>Yakymchuk</option>
                                                <option>Zanko Semen</option>
                                                <option>Zhdanov Sergii</option>
                                            </select>
                                            <br />

                                            <div>
                                                <button type="submit" class="btn btn-primary" style="margin-left: 20%">ZATWIERDŹ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "yellow"))
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("WithoutDoctor","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>
                                                    @pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() ||
                                                    <span class="animation">
                                                        @pacjent.DateTime.ToString("f")
                                                    </span>
                                                </h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-4" style="padding-top: 30px">

                                        @using (Html.BeginForm("Details", "Edit", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@pacjent.Id" />

                                            <div style="display:none">

                                                <select class="form-control" id="DateTime" name="DateTime">
                                                    <option>@pacjent.DateTime</option>
                                                </select>

                                                <select class="form-control" id="TriageDate" name="TriageDate">
                                                    <option>@pacjent.TriageDate</option>
                                                </select>
                                                <br />

                                                <select class="form-control" id="Name" name="Name">
                                                    <option>@pacjent.Name</option>
                                                </select>

                                                <select class="form-control" id="Surname" name="Surname">
                                                    <option>@pacjent.Surname</option>
                                                </select>

                                                <select class="form-control" id="Pesel" name="Pesel">
                                                    <option>@pacjent.Pesel</option>
                                                </select>

                                                <select class="form-control" id="Age" name="Age">
                                                    <option>@pacjent.Age</option>
                                                </select>

                                                <select class="form-control" id="Gender" name="Gender">
                                                    <option>@pacjent.Gender</option>
                                                </select>

                                                <select class="form-control" id="Diagnosis" name="Diagnosis">
                                                    <option>@pacjent.Diagnosis</option>
                                                </select>

                                                <select class="form-control" id="Room" name="Room">
                                                    <option>@pacjent.Room</option>
                                                </select>

                                                <select class="form-control" id="Color" name="Color">
                                                    <option>@pacjent.Color</option>
                                                </select>

                                                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                                                    <option>@pacjent.CoDalejZPacjentem</option>
                                                </select>

                                                <select class="form-control" id="Epikryza" name="Epikryza">
                                                    <option>@pacjent.Epikryza</option>
                                                </select>

                                                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                                                    <option>@pacjent.ObserwacjeRatPiel</option>
                                                </select>

                                                <select class="form-control" id="Active" name="Active">
                                                    <option>@pacjent.Active</option>
                                                </select>

                                                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                                                    <option>@pacjent.ToWhomThePatient</option>
                                                </select>

                                            </div>

                                            <select class="form-control" id="Doctor" name="Doctor">
                                                <option>@pacjent.Doctor</option>
                                                <option>Avdieiev Anton</option>
                                                <option>Betkowiak Zuzanna</option>
                                                <option>Binaś Marcin</option>
                                                <option>Chrzanowski Monica</option>
                                                <option>Czekała-Karpiński Dawid</option>
                                                <option>Dabryneuski Uladzimir</option>
                                                <option>Fritzkiewicz Witold</option>
                                                <option>Gąsiorowski Mateusz</option>
                                                <option>Gilier Kamila</option>
                                                <option>Grymuza Maciej</option>
                                                <option>Huzenko Jaroslaw</option>
                                                <option>Junewicz</option>
                                                <option>Kłaczyński Mateusz</option>
                                                <option>Łuczak Agnieszka</option>
                                                <option>Makowska Agata</option>
                                                <option>Małkiewicz Tomasz</option>
                                                <option>Miroshnichenko Yurii</option>
                                                <option>Nowak Michał</option>
                                                <option>Pankiewicz Mateusz</option>
                                                <option>Paszkowiak-Ciesielska Hanna</option>
                                                <option>Pisula Piotr</option>
                                                <option>Polupanov Yevhen</option>
                                                <option>Potyka Marek</option>
                                                <option>Razumka</option>
                                                <option>Rojna Maciej</option>
                                                <option>Skrzypek Dariusz</option>
                                                <option>Śliwowski Cezary</option>
                                                <option>Śmidrowicz Bartosz</option>
                                                <option>Wierzchowiecki Jerzy</option>
                                                <option>Woźny Tomasz</option>
                                                <option>Yakymchuk</option>
                                                <option>Zanko Semen</option>
                                                <option>Zhdanov Sergii</option>
                                            </select>
                                            <br />

                                            <div>
                                                <button type="submit" class="btn btn-primary" style="margin-left: 20%">ZATWIERDŹ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "lightgreen"))
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("WithoutDoctor","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>
                                                    @pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() ||
                                                    <span class="animation">
                                                        @pacjent.DateTime.ToString("f")
                                                    </span>
                                                </h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-4" style="padding-top: 30px">

                                        @using (Html.BeginForm("Details", "Edit", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@pacjent.Id" />

                                            <div style="display:none">

                                                <select class="form-control" id="DateTime" name="DateTime">
                                                    <option>@pacjent.DateTime</option>
                                                </select>

                                                <select class="form-control" id="TriageDate" name="TriageDate">
                                                    <option>@pacjent.TriageDate</option>
                                                </select>
                                                <br />

                                                <select class="form-control" id="Name" name="Name">
                                                    <option>@pacjent.Name</option>
                                                </select>

                                                <select class="form-control" id="Surname" name="Surname">
                                                    <option>@pacjent.Surname</option>
                                                </select>

                                                <select class="form-control" id="Pesel" name="Pesel">
                                                    <option>@pacjent.Pesel</option>
                                                </select>

                                                <select class="form-control" id="Age" name="Age">
                                                    <option>@pacjent.Age</option>
                                                </select>

                                                <select class="form-control" id="Gender" name="Gender">
                                                    <option>@pacjent.Gender</option>
                                                </select>

                                                <select class="form-control" id="Diagnosis" name="Diagnosis">
                                                    <option>@pacjent.Diagnosis</option>
                                                </select>

                                                <select class="form-control" id="Room" name="Room">
                                                    <option>@pacjent.Room</option>
                                                </select>

                                                <select class="form-control" id="Color" name="Color">
                                                    <option>@pacjent.Color</option>
                                                </select>

                                                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                                                    <option>@pacjent.CoDalejZPacjentem</option>
                                                </select>

                                                <select class="form-control" id="Epikryza" name="Epikryza">
                                                    <option>@pacjent.Epikryza</option>
                                                </select>

                                                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                                                    <option>@pacjent.ObserwacjeRatPiel</option>
                                                </select>

                                                <select class="form-control" id="Active" name="Active">
                                                    <option>@pacjent.Active</option>
                                                </select>

                                                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                                                    <option>@pacjent.ToWhomThePatient</option>
                                                </select>

                                            </div>

                                            <select class="form-control" id="Doctor" name="Doctor">
                                                <option>@pacjent.Doctor</option>
                                                <option>Avdieiev Anton</option>
                                                <option>Betkowiak Zuzanna</option>
                                                <option>Binaś Marcin</option>
                                                <option>Chrzanowski Monica</option>
                                                <option>Czekała-Karpiński Dawid</option>
                                                <option>Dabryneuski Uladzimir</option>
                                                <option>Fritzkiewicz Witold</option>
                                                <option>Gąsiorowski Mateusz</option>
                                                <option>Gilier Kamila</option>
                                                <option>Grymuza Maciej</option>
                                                <option>Huzenko Jaroslaw</option>
                                                <option>Junewicz</option>
                                                <option>Kłaczyński Mateusz</option>
                                                <option>Łuczak Agnieszka</option>
                                                <option>Makowska Agata</option>
                                                <option>Małkiewicz Tomasz</option>
                                                <option>Miroshnichenko Yurii</option>
                                                <option>Nowak Michał</option>
                                                <option>Pankiewicz Mateusz</option>
                                                <option>Paszkowiak-Ciesielska Hanna</option>
                                                <option>Pisula Piotr</option>
                                                <option>Polupanov Yevhen</option>
                                                <option>Potyka Marek</option>
                                                <option>Razumka</option>
                                                <option>Rojna Maciej</option>
                                                <option>Skrzypek Dariusz</option>
                                                <option>Śliwowski Cezary</option>
                                                <option>Śmidrowicz Bartosz</option>
                                                <option>Wierzchowiecki Jerzy</option>
                                                <option>Woźny Tomasz</option>
                                                <option>Yakymchuk</option>
                                                <option>Zanko Semen</option>
                                                <option>Zhdanov Sergii</option>
                                            </select>
                                            <br />

                                            <div>
                                                <button type="submit" class="btn btn-primary" style="margin-left: 20%">ZATWIERDŹ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    @foreach (var pacjent in Model.Where(x => x.Color == "lightskyblue"))
                    {
                        if (pacjent.Doctor == "Wybierz lekarza" & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("WithoutDoctor","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>
                                                    @pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() ||
                                                    <span class="animation">
                                                        @pacjent.DateTime.ToString("f")
                                                    </span>
                                                </h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>


                                    <div class="col-4" style="padding-top: 30px">

                                        @using (Html.BeginForm("Details", "Edit", FormMethod.Post))
                                        {
                                            <input type="hidden" name="Id" value="@pacjent.Id" />

                                            <div style="display:none">

                                                <select class="form-control" id="DateTime" name="DateTime">
                                                    <option>@pacjent.DateTime</option>
                                                </select>

                                                <select class="form-control" id="TriageDate" name="TriageDate">
                                                    <option>@pacjent.TriageDate</option>
                                                </select>
                                                <br />

                                                <select class="form-control" id="Name" name="Name">
                                                    <option>@pacjent.Name</option>
                                                </select>

                                                <select class="form-control" id="Surname" name="Surname">
                                                    <option>@pacjent.Surname</option>
                                                </select>

                                                <select class="form-control" id="Pesel" name="Pesel">
                                                    <option>@pacjent.Pesel</option>
                                                </select>

                                                <select class="form-control" id="Age" name="Age">
                                                    <option>@pacjent.Age</option>
                                                </select>

                                                <select class="form-control" id="Gender" name="Gender">
                                                    <option>@pacjent.Gender</option>
                                                </select>

                                                <select class="form-control" id="Diagnosis" name="Diagnosis">
                                                    <option>@pacjent.Diagnosis</option>
                                                </select>

                                                <select class="form-control" id="Room" name="Room">
                                                    <option>@pacjent.Room</option>
                                                </select>

                                                <select class="form-control" id="Color" name="Color">
                                                    <option>@pacjent.Color</option>
                                                </select>

                                                <select class="form-control" id="CoDalejZPacjentem" name="CoDalejZPacjentem">
                                                    <option>@pacjent.CoDalejZPacjentem</option>
                                                </select>

                                                <select class="form-control" id="Epikryza" name="Epikryza">
                                                    <option>@pacjent.Epikryza</option>
                                                </select>

                                                <select class="form-control" id="ObserwacjeRatPiel" name="ObserwacjeRatPiel">
                                                    <option>@pacjent.ObserwacjeRatPiel</option>
                                                </select>

                                                <select class="form-control" id="Active" name="Active">
                                                    <option>@pacjent.Active</option>
                                                </select>

                                                <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient">
                                                    <option>@pacjent.ToWhomThePatient</option>
                                                </select>

                                            </div>

                                            <select class="form-control" id="Doctor" name="Doctor">
                                                <option>@pacjent.Doctor</option>
                                                <option>Avdieiev Anton</option>
                                                <option>Betkowiak Zuzanna</option>
                                                <option>Binaś Marcin</option>
                                                <option>Chrzanowski Monica</option>
                                                <option>Czekała-Karpiński Dawid</option>
                                                <option>Dabryneuski Uladzimir</option>
                                                <option>Fritzkiewicz Witold</option>
                                                <option>Gąsiorowski Mateusz</option>
                                                <option>Gilier Kamila</option>
                                                <option>Grymuza Maciej</option>
                                                <option>Huzenko Jaroslaw</option>
                                                <option>Junewicz</option>
                                                <option>Kłaczyński Mateusz</option>
                                                <option>Łuczak Agnieszka</option>
                                                <option>Makowska Agata</option>
                                                <option>Małkiewicz Tomasz</option>
                                                <option>Miroshnichenko Yurii</option>
                                                <option>Nowak Michał</option>
                                                <option>Pankiewicz Mateusz</option>
                                                <option>Paszkowiak-Ciesielska Hanna</option>
                                                <option>Pisula Piotr</option>
                                                <option>Polupanov Yevhen</option>
                                                <option>Potyka Marek</option>
                                                <option>Razumka</option>
                                                <option>Rojna Maciej</option>
                                                <option>Skrzypek Dariusz</option>
                                                <option>Śliwowski Cezary</option>
                                                <option>Śmidrowicz Bartosz</option>
                                                <option>Wierzchowiecki Jerzy</option>
                                                <option>Woźny Tomasz</option>
                                                <option>Yakymchuk</option>
                                                <option>Zanko Semen</option>
                                                <option>Zhdanov Sergii</option>
                                            </select>
                                            <br />

                                            <div>
                                                <button type="submit" class="btn btn-primary" style="margin-left: 20%">ZATWIERDŹ</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <br />
                </div>

                <div class="border shadow p-3 mb-5 bg-white rounded">
                    <h5>Pacjenci z przypisanym lekarzem:</h5>
                    @foreach (var pacjent in Model.Where(x => x.Color == "red"))
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() || @pacjent.DateTime.ToString("f")</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p><b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "orange"))
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() || @pacjent.DateTime.ToString("f")</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p><b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "yellow"))
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() || @pacjent.DateTime.ToString("f")</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p><b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @foreach (var pacjent in Model.Where(x => x.Color == "lightgreen"))
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() || @pacjent.DateTime.ToString("f")</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p>
                                                    <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                    @foreach (var pacjent in Model.Where(x => x.Color == "lightskyblue"))
                    {
                        if (!(pacjent.Doctor == "Wybierz lekarza") & pacjent.Active == "Tak")
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="pacjent" style="background-color: @pacjent.Color">
                                            <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                               style="text-decoration:none; color:black">
                                                <h5>@pacjent.Surname?.ToUpper() @pacjent.Name?.ToUpper() || @pacjent.DateTime.ToString("f")</h5>
                                                <p>@pacjent.Diagnosis</p>
                                                <p><b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                                    sala: <b>@pacjent.Room</b> ||
                                                    do kogo: <b>@pacjent.ToWhomThePatient</b>
                                                </p>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-4" style="padding-top: 50px">
                                        <select class="form-control" id="Doctor" name="Doctor">
                                            <option>@pacjent.Doctor</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <br />
                </div>
            </div>
        </div>





        <div class="col-4" style="max-width: 350px">
            <div class="border shadow p-3 mb-5 bg-white rounded">
                <h5 class="text-center">Wituś</h5>
                <br />

                <div id="Wituś 1">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>R1</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś 2">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>R2</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś 3">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>R3</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś 3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Wituś Rk1">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p><b>R</b></p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Wituś" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">WIT</h5>
                <br />

                <div id="WIT 1">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>W1</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 2">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>W2</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 3">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>W3</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 4">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>W4</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT 4" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="WIT 4,5">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p><b>W</b></p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "WIT" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Sala obserwacyjna 1</h5>
                <br />

                <div id="Sala obserwacyjna 5">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O5</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 5" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 6">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O6</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 6" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 7">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O7</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 7" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Sala obserwacyjna 2</h5>
                <br />

                <div id="Sala obserwacyjna 8">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O8</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 8" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 9">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O9</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 9" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Sala obserwacyjna 10">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>O10</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Sala obserwacyjna 10" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Izolatki</h5>
                <br />

                <div id="Izolatka Z1">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>Z1</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z1" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Izolatka Z2">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>Z2</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z2" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div id="Izolatka Z3">
                    <div class="row">
                        <div class="col-3">
                            <div class="nr_lozka">
                                <p>Z3</p>
                            </div>
                        </div>
                        <div class="col-9">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Izolatka Z3" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Korytarz</h5>
                <br />

                <div id="Korytarz">
                    <div class="row">
                        <div class="col-12">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Korytarz" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Poczekalnia</h5>
                <br />

                <div id="Poczekalnia">
                    <div class="row">
                        <div class="col-12">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Poczekalnia" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="text-center">Dekontaminacja</h5>
                <br />

                <div id="Dekontaminacja">
                    <div class="row">
                        <div class="col-12">
                            @foreach (var pacjent in Model)
                            {
                                if (pacjent.Room == "Dekontaminacja" & pacjent.Active == "Tak")
                                {
                                    <div class="pacjent_sala" style="background-color: @pacjent.Color">
                                        <a href="@Url.Action("Details","Edit", new { Id = pacjent.Id })"
                                           style="text-decoration:none; color:black">
                                            <p>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


<script src="~/js/list.js" asp-append-version="true"></script>