@model IEnumerable<triage_hcp.Models.Pacjent>

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Lista wszystkich";
    var count = Model.Count();
}

<div class="container">
    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <h2 class="text-center">Lista wszystkich pacjentów: @count</h2>
            <br />
            <div class="row" style="padding-left:55px">
                <div class="col-1">
                    <strong>ID PACJENTA</strong>
                </div>
                <div class="col-1">
                    <strong>PRZYJĘCIE</strong>
                </div>
                <div class="col-1">
                    <strong>ZAKOŃCZONO</strong>
                </div>
                <div class="col-2">
                    <strong>IMIĘ I NAZWISKO</strong>
                </div>
                <div class="col-1">
                    <strong>PESEL</strong>
                </div>
                <div class="col-2">
                    <strong>OPIS W TRIAGE</strong>
                </div>
                <div class="col-2">
                    <strong>LEKARZ PROWADZĄCY</strong>
                </div>
                <div class="col-2">
                    <strong>JAKA DECYZJA</strong>
                </div>
            </div>
            <hr />

            @foreach (var pacjent in Model.OrderByDescending(x => x.DateTime))
            {
                <div class="pacjent" style="background-color: @pacjent.Color; max-width: 100%">
                    <a href="@Url.Action("Done","Edit", new { Id = pacjent.Id })"
                       style="text-decoration:none; color:black">
                        <div class="container">
                            <div class="row">
                                <div class="border-end col-1">
                                    <strong>@pacjent.Id</strong>
                                </div>
                                <div class="border-end col-1">
                                    <p>Przyjęto: </p>
                                    <p><b>@pacjent.DateTime.ToString("g")</b></p>
                                </div>
                                <div class="border-end col-1">
                                    @if (pacjent.EndTime <= DateTime.MinValue | pacjent.Active == "Tak")
                                    {
                                        <strong>Pacjent dalej w SOR</strong>
                                    }
                                    else
                                    {
                                        <p>Zakończono: </p>
                                        <p><b>@pacjent.EndTime.ToString("g")</b></p>
                                    }
                                </div>
                                <div class="border-end col-2">
                                    <b>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</b>
                                </div>
                                <div class="border-end col-1">
                                    <b>@pacjent.Pesel</b>
                                </div>
                                <div class="border-end col-2">
                                    <b>@pacjent.Diagnosis?.ToUpper()</b>
                                </div>
                                <div class="border-end col-2">
                                    lek. prowadzący: <b>@pacjent.Doctor?.ToUpper()</b>
                                </div>
                                <div class="col-2">
                                    <b> @pacjent.CoDalejZPacjentem?.ToUpper()</b>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <br />
    </div>
</div>


