@model IEnumerable<triage_hcp.Models.Pacjent>

@{
    ViewData["Title"] = "Lista zakończonych";
}

<div class="container">
    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded" style="max-width: 900px">
            <h5>Pacjenci z zakończoną obsługą w SOR z poprzednich dyżurów:</h5>
            <br />
            @foreach (var pacjent in Model
            .Where(x => x.DateTime < DateTime.Today)
            .OrderByDescending(x => x.DateTime))
            {
                if (!(pacjent.Active == "Tak"))
                {
                    <div class="pacjent" style="background-color: @pacjent.Color; max-width: 800px">
                        <a href="@Url.Action("Done","Edit", new { Id = pacjent.Id })"
                           style="text-decoration:none; color:black">
                            <p>
                                <b>@pacjent.DateTime.ToString("d")</b> ||
                                <b>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</b> ||
                                PESEL: <b>@pacjent.Pesel</b> || @pacjent.Gender @pacjent.Age lat ||
                                <b> @pacjent.CoDalejZPacjentem</b>
                            </p>
                        </a>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>