@model IEnumerable<triage_hcp.Models.Pacjent>

<link rel="stylesheet" href="~/css/list.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Lista zakończonych";

}

<div class="container">
    <div class="row">
        <div class="border shadow p-3 mb-5 bg-white rounded">
            <h5 class="text-center">Lista pacjentów z poprzednich dyżurów:</h5>
            <br />
            @foreach (var pacjent in Model
            .Where(x => x.DateTime < DateTime.Today)
            .OrderByDescending(x => x.DateTime))
            {
                if (!(pacjent.Active == "Tak"))
                {
                    <div class="pacjent" style="background-color: @pacjent.Color; max-width: 100%">
                        <a href="@Url.Action("Done","Edit", new { Id = pacjent.Id })"
                           style="text-decoration:none; color:black">
                            <div class="container">
                                <div class="row">
                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-5">
                                                <p>Przyjęto: </p>
                                                <p>Zakończono: </p>
                                            </div>
                                            <div class="col-7">
                                                <p><b>@pacjent.DateTime.ToString("g")</b></p>
                                                <p><b>@pacjent.EndTime.ToString("g")</b></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <b>@pacjent.Name?.ToUpper() @pacjent.Surname?.ToUpper()</b>
                                    </div>
                                    <div class="col-2">
                                        <b>@pacjent.Pesel</b>
                                    </div>
                                    <div class="col-2">
                                        <b>@pacjent.Diagnosis?.ToUpper()</b>
                                    </div>
                                    <div class="col-2">
                                        lek. prowadzący: <b>@pacjent.Doctor?.ToUpper()</b>
                                    </div>
                                    <div class="col-2">
                                        <b> @pacjent.CoDalejZPacjentem?.ToUpper()</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>

